{% ckan_extends %}
{% set intro = g.site_intro_text %}
{% import 'macros/editable.html' as editable with context %}

{% block scripts %}
  {{ super() }}
  {% resource 'lacounts/home.js' %}
{% endblock %}

{% block bodytag %} {{ super() }} class="home"{% endblock %}

{% block content %}
<section class="hero">
  <div class="images">
    <img id="BannerImage" alt="" />
  </div>
  <div class="container">
    {% call editable.region('hero-title') %}
      <h1>Advocacy for data + Data for advocacy</h1>
    {% endcall %}
    {% call editable.region('hero-text') %}
      <p>We're LA Counts, a tool for change powered by a community of advocates. Together we collect, curate, and explore open data about Los Angeles County and use it to improve the lives of all Angelenos. Explore the site, learn from the community, and join our movement.</p>
    {% endcall %}
    {% snippet 'home/snippets/search.html' %}
  </div>
</section>
{{ super() }}
{% endblock %}
