{% ckan_extends %}
{% set intro = g.site_intro_text %}

{# It doesn't work inside `macros/editable.html' #}
{% macro editable_region(name) -%}
<div data-editable data-name="{{ name }}">
  {{ h.get_editable_region(name) | safe or caller() | safe }}
</div>
{%- endmacro %}

{% block scripts %}
  {{ super() }}
  {% resource 'lacounts/home.js' %}
  {% if h.check_access('sysadmin') %}
    {% resource 'lacounts/editable' %}
  {% endif %}
{% endblock %}

{% block bodytag %} {{ super() }} class="home"{% endblock %}

{% block content %}
<section class="hero">
  <div class="images">
    <img src="images/banner.jpg" alt="" />
  </div>
  <div class="container">
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      {% call editable_region('hero') %}
        <h1>LA Counts</h1>
        <p>Default main paragraph</p>
      {% endcall %}
    {% endif %}
    <a class="btn btn-primary">{{ _("Find data and stories") }}</a>
    <a class="btn btn-info">{{ _("Get involved") }}</a>
  </div>
</section>
{{ super() }}
{% endblock %}
