{% ckan_extends %}
{% set intro = g.site_intro_text %}

{% block bodytag %} {{ super() }} class="home"{% endblock %}

{% block content %}
<section class="hero">
  <div class="images">
    <img src="images/banner.jpg" alt="" />
  </div>
  <div class="container">
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Lorem ipsum dolor sit amet, consectetur") }}</h1>
      <p>
        {% trans %}Aenean varius turpis eu nisl ultricies, eu maximus nulla iaculis. Nulla eget fermentum sem. Mauris non purus nec nulla aliquet iaculis. Sed vitae quam vel lectus pulvinar blandit.
        {% endtrans %}
      </p>
    {% endif %}
    <a class="btn btn-primary">{{ _("Find data and stories") }}</a>
    <a class="btn btn-info">{{ _("Get involved") }}</a>
  </div>
</section>
{{ super() }}
{% endblock %}
