{% import 'macros/editable.html' as editable with context %}

<section class="community">
  <div class="container">
    <div>
      {% call editable.region('community-banner', read_only=(c.controller != 'home')) %}
        <p>Get involved and help build a better Los Angeles County through open data and data stories.</p>
      {% endcall %}
    </div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScarqwpnuqZhr7GgqxBFyZOK-eTDE5egkd3YSxmfntAVul3vg/viewform" target="_blank"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <span>Suggest a story</span></a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbxDUcAAhnN6xUQfv6xHc2lAbn_11sOYE2SYEOzFgHsLYicg/viewform" target="_blank"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <span>Suggest a dataset</span></a>
  </div>
</section>
