{% import 'macros/editable.html' as editable with context %}

<section class="community">
  <div class="container">
    <div>
      {% call editable.region('community-banner') %}
      <p>
        Get involved and help build a better Los Angeles County through open data and data stories.
      </p>
      {% endcall %}
    </div>
    <a><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Suggest a story</a>
    <a><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Suggest a dataset</a>
  </div>
</section>
