{% import 'macros/editable.html' as editable with context %}

<section class="community">
  <div class="container">
    <div>
      {% call editable.region('community-banner', read_only=(c.controller != 'home')) %}
        <p>Get involved and help build a better Los Angeles County through open data and data stories.</p>
      {% endcall %}
    </div>
    <a href="https://goo.gl/forms/rQNVca7JuOdMewgH3" target="_blank"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <span>Suggest a story</span></a>
    <a href="https://goo.gl/forms/Zcxkp5Q3rTccG6712" target="_blank"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> <span>Suggest a dataset</span></a>
  </div>
</section>
