  <div class="stories-list">
    {% for story in stories %}
      <article>
        <a class="image" href="/story/{{ story.name }}">
          <img src="{{ story.image_display_url }}" alt="" />
        </a>
        <div class="text">
          <h1>
            <a href="/story/{{ story.name }}">
              {{ h.truncate(story.title, 80) }}
            </a>
          </h1>
          {% if showTextPreview %}
            {% set notes = h.markdown_extract(story.notes, extract_length=80) %}
            <p>{{ notes }}</p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>
