{% block package_info %}
  {% if pkg %}

    {% if pkg.methodology_dict %}
      <section class="module module-narrow methodology">
        <h2 class="module-heading">{{ _('Methodology') }}</h2>
          <p>{{ h.markdown_extract(pkg.methodology_dict.notes, 90) }}</p>
          <p><a href="/story/{{ pkg.methodology_dict.name }}">Read more</a></p>
      </section>
    {% endif %}

    {% if pkg.referenced_datasets %}
      <section class="module module-narrow">
        <h2 class="module-heading">{{ _('Linked datasets') }}</h2>
        <ul class="dataset-list">
        {% for package in pkg.referenced_datasets %}
          {% set truncate_title = truncate_title or 80 %}
          {% set title = package.title or package.name %}
          <li>{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}</li>
        {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% set groups = pkg.groups %}
    {% if groups %}
      <section class="module module-narrow">
        <h2 class="module-heading">{{ _('Find related datasets') }}</h2>
        <ul class="tag-list">
          {% for group in groups %}
            <li class="{{ group.name }}">
              <a class="tag" href="{{ h.url_for(controller='package', action='search', groups=group.name) }}">
                {{ h.truncate(group.display_name, 22) }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

  {% endif %}
{% endblock %}
