{% extends "page.html" %}
{% import 'macros/editable.html' as editable with context %}

{% block subtitle %}{{ _('Contact Us') }}{% endblock %}

{% block primary_content %}
  {% call editable.region('contact-us') %}
    <h1>Contact Us</h1>
    <p>To report a bug, please open an issue on <a href="https://github.com/okfn/ckanext-lacounts" target="_blank">Github</a>. For any other enquiries, use the form below.</p>
  {% endcall %}

  {% block contact_form_content %}
    {% include "contact/snippets/form.html" %}
  {% endblock %}
{% endblock %}

{% block secondary %}{% endblock %}
