{% ckan_extends %}

{% block bodytag %} {{ super() }} class="dataset"{% endblock %}

{% set pkg_dict = pkg %}
{% block secondary_content %}

  {% block package_publisher %}
    <section class="publisher button-box">
      <p>
        {{ _('Published by') }}
        <a href="{{ h.url_for('organization_read', id=pkg.organization.name) }}">
          {{ h.get_organization_display_title(pkg.organization) }}
        </a>
      </p>
      {% if pkg.harvest_dataset_url %}
        <a class="btn" href="{{ pkg.harvest_dataset_url }}">{{ _('Go to data source') }}</a>
        {% if pkg.harvest_timestamp %}
        <span>
            Harvested on {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg.harvest_timestamp %}
        </span>
        {% endif %}

      {% endif %}
    </section>
  {% endblock %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_stories %}
    {% set stories = h.get_package_stories(pkg.name) %}
    <section class="module module-narrow">
      <h2 class="module-heading">{{ _('Stories that reference this dataset') }}</h2>
      <ul class="dataset-list">
        {% if stories %}
          {% for story in stories %}
            <li>
              <a href="{{ h.url_for('ckanext_showcase_read', id=story.name) }}">{{ story.title }}</a>
            </li>
          {% endfor %}
        {% else %}
          <li class="empty">
            <a href="https://goo.gl/forms/rQNVca7JuOdMewgH3">Suggest a story</a>
          </li>
        {% endif %}
      </ul>
    </section>
  {% endblock %}

  {% block package_datasets %}
    {% set related_datasets = h.get_related_datasets_for_display(pkg.get('related_datasets', [])) %}
    {% if related_datasets %}
      <section class="module module-narrow">
        <h2 class="module-heading"> {{ _('Related datasets') }}</h2>
        <ul class="dataset-list">
        {% for package in related_datasets %}
          <li>{{ h.link_to(h.truncate(package.text, 80), package.href) }}</li>
        {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endblock %}

  {% block package_topics %}
    {% set groups = pkg.groups %}
    <section class="module module-narrow">
      <h2 class="module-heading">{{ _('Find related datasets') }}</h2>
      <ul class="tag-list">
        {% if groups %}
          {% for group in groups %}
            <li class="{{ group.name }}">
              <a class="tag" href="{{ h.url_for(controller='package', action='search', groups=group.name) }}">
                {{ h.truncate(group.display_name, 22) }}
              </a>
            </li>
          {% endfor %}
        {% else %}
            <li>
              {# TODO: actual link is not decided #}
              <a class="tag" href="{{ h.url_for(controller='package', action='search', type_label='Data') }}">
                All topics
              </a>
            </li>
        {% endif %}
      </ul>
    </section>
  {% endblock %}

{% endblock %}


{% block primary_content %}

    {% block package_title %}
      <h1>
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      </h1>
      {# move to placeholder below
        h.popular('recent views', pkg.tracking_summary.recent, min=h.get_minimum_views_for_trending()) if pkg.tracking_summary
      #}
    {% endblock %}

    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}

    <div class="primary-meta">
      <span class="trending" title="17 recent views"> <i class="icon-trending"></i> Trending.</span>
      {% set period = h.get_frequency_period(pkg) %}
      {% if period %}
        <span>This dataset updates every {{ period }}.</span>
      {% endif %}
    </div>

    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=h.get_resources_ordered(pkg.resources) %}

    {% block package_metadata %}
      <section class="additional-info">
        <div class="meta-data">
          <h3>{{ _('Metadata') }}</h3>

          {% block package_metadata_completion %}
            {% set completion = h.get_metadata_completion_rate(pkg) %}

            {% if completion.percentage <= 33 %}
              {% set completion_rating = 'poor' %}
            {% elif completion.percentage > 33 and completion.percentage < 66 %}
              {% set completion_rating = 'ok' %}
            {% else %}
              {% set completion_rating = 'good' %}
            {% endif %}

            <div class="completion-rate-chart {{ completion_rating }} dropdown">
              <svg width="100%" height="100%" viewBox="0 0 42 42">
                <circle class="chart-centre" cx="21" cy="21" r="15.91549430918954"></circle>
                <circle class="chart-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent"></circle>
                <circle class="chart-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke-dasharray="{{ completion.percentage }} {{ 100 - completion.percentage }}" stroke-dashoffset="25"></circle>
              </svg>
              <a class="figure" id="completionRate" data-toggle="dropdown">
                {{ completion.percentage }}%<span class="sr-only">{{ _('metadata completion rate') }}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="completionRate">
                <div class="text">
                  <span class="count">{{ completion.count }}</span> out of <span class="total">{{ completion.total }}</span> metadata fields are complete. Find out more <a>here</a>.
                </div>
              </div>
            </div>
          {% endblock %}

          {% block package_metadata_values %}
            {%- set exclude_fields = [
                'id',
                'title',
                'name',
                'notes',
                'tag_string',
                'license_id',
                'owner_org',
                'spatial',
                'spatial_text',
                'temporal_text',
                'temporal_start',
                'temporal_end',
                ] -%}
            <table class="table">
              <tbody>
                {%- for field in schema.dataset_fields -%}
                  {%- if field.field_name not in exclude_fields
                      and field.display_snippet is not none -%}
                      <tr>
                        <th scope="row" class="dataset-label">{{
                          h.scheming_language_text(field.label) }}</th>
                        <td class="dataset-details"{%
                          if field.display_property %} property="{{ field.display_property
                          }}"{% endif %}>
                            {% if pkg_dict.get(field.field_name) %}
                              {%- snippet 'scheming/snippets/display_field.html',
                              field=field, data=pkg_dict, schema=schema -%}
                            {% else %}
                              -
                            {% endif %}
                        </td>
                      </tr>
                  {%- endif -%}
                {%- endfor -%}
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("Temporal extent") }}</th>
                    <td class="dataset-details">{{ h.get_temporal_value(pkg_dict) }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("Spatial extent") }}</th>
                    <td class="dataset-details">{{ h.get_spatial_value(pkg_dict) }}</td>
                    </td>
                  </tr>
              </tbody>
            </table>
          {% endblock %}

        </div>

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <div class="meta-data">
            <h3>{{ _('Admin') }}</h3>
            <table class="table">
              <tbody>
                {% if pkg_dict.metadata_created %}
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("Created") }}</th>
                    <td class="dataset-details">
                        {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
                    </td>
                  </tr>
                {% endif %}
                {% if pkg_dict.metadata_modified %}
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("Updated") }}</th>
                    <td class="dataset-details">
                        {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
                    </td>
                  </tr>
                {% endif %}
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("State") }}</th>
                    <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("Harvest Source") }}</th>
                    <td class="dataset-details"><a href="/harvest/{{ pkg_dict.harvest_source_id }}">{{ pkg_dict.harvest_source_id }}</td>
                  </tr>
                  {% if pkg_dict.harvest_dataset_terms %}
                  <tr>
                    <th scope="row" class="dataset-label">{{ _("Dataset Topic Terms") }}</th>
                    <td class="dataset-details"> {{ pkg_dict.harvest_dataset_terms.replace('\n', ', ') }}</td>
                  </tr>
                  {% endif %}
              </tbody>
            </table>

            {% if pkg.tags %}
              <hr>
              <ul class="tag-list">
                {% for tag in pkg.tags %}
                  <li>
                    <a class="tag" href="{{ h.url_for(controller='package', action='search', tags=tag.name) }}">
                      {{ h.truncate(tag.display_name, 22) }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <hr>
            {% endif %}

          </div>
        {% endif %}

      </section>
    {% endblock %}

    {% block disqus_comments %}
      {{ h.disqus_comments() }}
    {% endblock %}

{% endblock %}
