{% ckan_extends %}

{% block subtitle %}{{ _("Library") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_("Library"), named_route='%s_search' % dataset_type, highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}

  <h1>{{ _("Library") }}</h1>
  <p>These six topics touch upon issues that afflict some of our poorest and most vulnerable populations. Use them as jumping off points to learn and share opportunities for improvement and change.</p>
  <ul class="featured-filters">
    {% set topics = h.get_topics() %}
    {% for topic in topics %}
      <li class="{{ topic.name }} active">
        <a class="filter" href="/dataset?topic={{ topic.name }}">
          <span class="filter-icon">{% include topic.icon_path %}</span>
          <span class="filter-label">{{ topic.title }}</span>
        </a>
        <span class="filter-description">{{ topic.notes }}</span>
        {% if topic == topics[0] %}
          <a class="remove-filter" href="/dataset">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span class="sr-only">{{ _("Remove filter") }}</span>
          </a>
        {% endif %}
      </li>
    {% endfor %}
    <li class="filter-description">
      {# TODO Connect to an actual dataset query
      {# TODO Add some JS to move descriptions into here when using grid layout (when .featured-filters has display: grid) #}
      {{ topics[0].description }}
    </li>
  </ul>

  <a class="show-filters btn btn-default">{{ _("Show all filters") }}</a>

  <span class="filtered pill">Sub-national
    <a href="dataset" class="remove-filter" title="Remove"><i class="fa fa-times"></i></a>
  </span>

  <form id="results-controls" class="results-controls">

    {# TODO: requires ckan-core patching #}
    {% block results_limit %}
      <div class="number-of-results">
        <span class="sr-only">Showing 25</span>
        <span class="total">&nbsp;of <strong>5885</strong> results.</span>
        <span class="to-show">Show <a class="active">25</a> <em class="sr-only">or</em> <a>50</a> <em class="sr-only">or</em> <a>100</a></span>
      </div>
    {% endblock %}

    {% block results_order %}
      {% set sorting_selected = c.sort_by_selected %}
      {% set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
      %}
      <div class="form-select form-group control-order-by">
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort" class="form-control" onchange="this.form.submit()">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    {% endblock %}

  </form>

  <ul class="dataset-list list-unstyled">
    <li class="dataset-item">
      <article class="dataset-content">
        <h1 class="dataset-heading">
          <a href="">ReliefWeb Crisis App Data</a>
        </h1>
        <a class="publisher">
          OCHA ROSEA
        </a>
        <div>
          This dataset contains key figures (topline numbers) on the world's pressing humanitarian crisis as shown on ReliefWeb's Crises app. The data includes key figures such as the...
        </div>
        <ul class="dataset-resources list-unstyled">
          <li>
            <a href="/dataset/reliefweb-crisis-app-data" class="label label-default" data-format="csv">CSV</a>
          </li>
          <li>
            <a href="/dataset/reliefweb-crisis-app-data" class="label label-default" data-format="json">JSON</a>
          </li>
        </ul>
      </article>
    </li>

    <li class="story-item">
      <a class="image">
        <img src="/images/story-featured-img-example.jpg" alt="">
      </a>
      <article class="dataset-content">
        <h1 class="dataset-heading">
          <a href="">NDSC: Access to Parks and Greenspace</a>
        </h1>
        <div>
          Parks are a tangible reflection of the quality of life in a community. According to the National Recreation and Parks Association, parks bring economic value to a community by raising local property values. The presence of parks also provides environment and health...
        </div>
        <ul class="dataset-resources list-unstyled">
          <li>
            <a class="label label-story">Story</a>
          </li>
        </ul>
      </article>
    </li>
  </ul>

  <div class="pagination-wrapper">
    <ul class="pagination">
      <li class="active">
        <a href="/dataset?page=1">1</a>
      </li>
      <li>
        <a href="/dataset?page=2">2</a>
      </li>
      <li>
        <a href="/dataset?page=3">3</a>
      </li>
      <li class="disabled">
        <a href="#">...</a></li>
        <li>
          <a href="/dataset?page=43">43</a>
        </li>
        <li>
          <a href="/dataset?page=2">»</a>
        </li>
      </ul>
    </div>

{% endblock %}

{% block footer %}
  {% if h.check_access('package_create') %}
    <div class="admin-page-actions">
      {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
