{% ckan_extends %}
{% import 'macros/editable.html' as editable with context %}

{% block bodytag %} {{ super() }} class="search"{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'lacounts/library.js' %}
{% endblock %}

{% block subtitle %}{{ _("Library") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_("Library"), named_route='%s_search' % dataset_type, highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
  {% snippet 'snippets/connectivity.html' %}
  <h1>{{ _("Library") }}</h1>
  <div class="helper-info" id="libraryHelper">
    <h4 class="header"><span class="sr-only">What is this</span>?</h4>
    <div class="content">
      {% call editable.region('search-intro') %}
      <p>
        Welcome to the LA Counts Library! Harvested from federal, state, regional, and local data publishers, these open datasets and related data stories collectively describe what we know and what we don't know about Los Angeles County. Use this data to examine governmental complexities, explain how things work, and explore the potential for social change in and across Los Angeles County.
      </p>
      {% endcall %}
    </div>
  </div>

  {% block results_filters %}
    <div class="results_filters">
      {% set facets = {
        'fields': c.fields_grouped,
        'search': c.search_facets,
        'titles': c.facet_titles,
        'translated_fields': c.translated_fields,
        'remove_field': c.remove_field }
      %}
      {% for field in facets.fields %}
        {% set search_facets_items = facets.search.get(field)['items'] %}
        {% for value in facets.fields[field] %}
          <span class="filtered pill">
            {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
              {{ facets.translated_fields[(field,value)] }}
            {%- else -%}
              {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
            {%- endif %}
            <a href="{{ facets.remove_field(field, value) }}" class="remove-filter" title="{{ _('Remove') }}">
              <i class="fa fa-times"></i>
            </a>
          </span>
        {% endfor %}
      {% endfor %}
      {% if facets.fields|length > 0 %}
        <a href="/dataset" class="remove-all">{{ _('Remove all filters') }}</a>
      {% endif %}
      <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
    </div>
  {% endblock %}

    {% if c.page.item_count %}
      {% block results_limit %}
      <form id="results-controls" class="results-controls" data-module="select-switch">

        {% block search_search_fields %}
          <div style="display:none">
            {% if c.fields -%}
              <span>{{ form.hidden_from_list(fields=c.fields) }}</span>
            {%- endif %}
            {% if c.q -%}
              <span>{{ form.hidden('q', c.q) }}</span>
            {%- endif %}
          </div>
        {% endblock %}

        <div class="number-of-results">
          <span class="sr-only">Showing {{ c.page.items_per_page }}</span>
          <span class="total">&nbsp;of <strong>{{ c.page.item_count }}</strong> results.</span>
          <span class="to-show">Show
            {% for limit in [25, 50, 100] %}
              {% set active = 'class="active"' if c.page.items_per_page == limit else '' %}
              {% set link = 'href="%s"' % h.update_url_query(h.current_url(), {'limit': limit, 'page': None}) if not active else '' %}
              <a {{ active | safe }} {{ link | safe }}>{{ limit }}</a>
              {% if not loop.last %}
                <em class="sr-only">or</em>
              {% endif %}
            {% endfor %}
          </span>
        </div>
      {% endblock %}

      {% block results_order %}
        {% set sorting_selected = c.sort_by_selected %}
        {% set sorting = [
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% if not c.q and not h.get_query_param('sort') %}
          {% set sorting_selected = 'metadata_modified desc' %}
        {% endif %}
        <div class="form-select form-group control-order-by">
          <label for="field-order-by">{{ _('Order by') }}</label>
          <select id="field-order-by" name="sort" class="form-control">
            {% for label, value in sorting %}
              {% if label and value %}
                <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>


      </form>
      <div id="pagination-top">
        {{ c.page.pager(q=c.q) }}
      </div>

      {% endblock %}

  {% else %}
    <h2>{{ _('There are no datasets or stories found for "{}"').format(c.q) }}</h2>
    <p class="extra">Please check your search terms and try searching again. If we do not currently have what you're looking for, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbxDUcAAhnN6xUQfv6xHc2lAbn_11sOYE2SYEOzFgHsLYicg/viewform" target="_blank">suggest a dataset</a> or <a href="https://docs.google.com/forms/d/e/1FAIpQLScarqwpnuqZhr7GgqxBFyZOK-eTDE5egkd3YSxmfntAVul3vg/viewform" target="_blank">story</a> so we can add it in
  {% endif %}



  {% block package_search_results_list %}
    {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}

  {% endblock %}

  {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
  {% endblock %}

{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {% if not (facet == 'story_type' and c.fields_grouped.get('type_label') == ['Data']) %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, search_facets=c.search_facets) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

{% block footer %}
  {% if h.check_access('package_create') %}
    <div class="admin-page-actions">
      {% snippet 'snippets/add_lib_item.html' %}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
