{% ckan_extends %}

{% block bodytag %} {{ super() }} class="story primary-secondary"{% endblock %}

{% block breadcrumb_content %}
    {% set showcase = pkg.title or pkg.name %}
    {% if pkg.story_type == 'Blog Post' %}
      <li><a href="/blog">Blog</a></li>
    {% else %}
      <li>{{ h.nav_link(_('Showcases'), named_route='dataset_search', type_label='Story', highlight_actions = 'new index') }}</li>
    {% endif %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for showcase|truncate(30), controller='ckanext.showcase.controller:ShowcaseController', action='read', id=pkg.name %}</li>
{% endblock %}


{% block primary %}
  <div class="primary col-sm-10 col-xs-12">

  {% block primary_content_inner %}

    {% block package_description %}

      <div class="container-fluid">

        {% if pkg.private %}
          <span class="dataset-private label label-inverse pull-right">
            <i class="fa fa-lock icon-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}

        <div class="col-md-10 col-sm-9">
          <h1>
            {% block page_heading %}
              {{ name }}
              {% if pkg.state.startswith('draft') %}
                [{{ _('Draft') }}]
              {% endif %}
            {% endblock %}
          </h1>
        </div>

        {% snippet 'snippets/connectivity.html' %}

      </div>

      {% block package_author %}
        {% if pkg.author %}
          <p class="author">
            {% if pkg.story_date %}
              {{ _('Posted on') }}
              {{ h.format_iso_date_string(pkg.story_date, '%m/%d/%y') }}
              {{_('by')}}
            {% else %}
              {{_('By')}}
            {% endif %}
            {{ pkg.author }}
          </p>
        {% endif %}
      {% endblock %}

      {% block package_tags %}
        {% snippet "showcase/snippets/tags.html", tags=pkg.tags %}
      {% endblock %}

      {% block package_notes %}
        {% if pkg.showcase_notes_formatted %}
          <div class="notes embedded-content ckanext-showcase-notes">
            {% if pkg.image_display_url %}
              <figure class="feature-image">
                <img src="{{ pkg.image_display_url }}" alt="{{ pkg.name }}">
              </figure>
            {% endif %}
            {{ pkg.showcase_notes_formatted }}
          </div>
        {% endif %}
      {% endblock %}

    {% endblock %}

    {% block package_search_results_list %}
    {% endblock %}

    {% block related_stories %}
      {% set stories = h.get_story_related_stories(pkg) %}
      {% if stories %}
        <section class="data-stories">
          <h1>Linked stories</h1>
          <div class="stories-list">
            {% for story in stories %}
              <article>
                <a class="image" href="/story/{{ story.name }}">
                  <img src="{{ story.image_display_url }}" alt="" />
                </a>
                <div class="text">
                  <h1>
                    <a href="/story/{{ story.name }}">
                      {{ h.truncate(story.title, 80) }}
                    </a>
                  </h1>
                </div>
              </article>
            {% endfor %}
          </div>
        </section>
      {% endif %}
    {% endblock %}

    {% block disqus_comments %}
      {% if h.is_disqus_enabled() and pkg.allow_commenting %}
        {{ h.disqus_comments() }}
      {% endif %}
    {% endblock %}

  {% endblock %}

  </div>
{% endblock %}

{% block secondary %}
<aside class="secondary col-sm-2">
  {% block secondary_content %}
  {{ super() }}
  {% endblock %}
</aside>
{% endblock %}

{%- block footer %}
  {% if h.check_access('ckanext_showcase_update', {'id':pkg.id }) %}
    <div class="admin-page-actions">
      {% link_for _('Manage'), controller='ckanext.showcase.controller:ShowcaseController', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
