{% extends "page.html" %}
{% import 'macros/editable.html' as editable with context %}

{% block bodytag %}{{ super() }}class="faqs"{% endblock %}



{% block subtitle %}{{ _('FAQs') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('FAQs'), controller='ckanext.lacounts.controller:StaticController', action='faqs' %}</li>
{% endblock %}

{% block primary_content %}



{% call editable.region('frequently-asked-questions') %}

<h1>Frequently Asked Questions</h1>

<ul>
    <li><a href="#general">General</a></li>
    <li><a href="#getting-involved">Getting Involved</a></li>
    <li><a href="#events-volunteer-opportunities">Events + Volunteer Opportunities</a></li>
    <li><a href="#datasets">Datasets</a></li>
    <li><a href="#data-stories">Data Stories</a></li>
    <li><a href="#publishing-data-to-la-counts">Publishers</a></li>
    <li><a href="#la-counts-technology">LA Counts Technology</a></li>
</ul>

<h2 id="general">General <a class="headerlink" href="#general"><i class="fa fa-link"></i></a></h2>

<h3 id="what-is-la-counts">What is LA Counts? <a class="headerlink" href="#what-is-la-counts"><i class="fa fa-link"></i></a></h3>
<p>LA Counts is a free and open source platform of linked and downloadable open data resources and related data stories about and for Los Angeles County. LA Counts aggregates open datasets and data stories relevant to LA County but does not host, store, or own the data on the site. Instead, LA Counts puts open data into the reach of advocates and changemakers.</p>

<h3 id="how-is-la-counts-licensed">How is LA Counts licensed? <a class="headerlink" href="#how-is-la-counts-licensed"><i class="fa fa-link"></i></a></h3>
<p>This site is openly licensed and proof that open data, even for a sprawling metropolis like Los Angeles County, can be a motivating factor for civic inspiration and positive social change. The data found on this site is open data but the data stories are not necessarily openly licensed. Please review each story for its respective copyrights or licensing requirements.</p>

<h3 id="what-is-open-data-and-why-does-it-matter">What is open data and why does it matter? <a class="headerlink" href="#what-is-open-data-and-why-does-it-matter"><i class="fa fa-link"></i></a></h3>
<p>Data can be thought of as a new form of infrastructure, one that governments and businesses run on. <a href="https://opengovdata.org/">Open Data</a> are datasets that individuals and organizations make publicly available for use and or redistribution without legal, technological or social restrictions. They provide the public with powerful lenses that can reveal insights about government and industry models and actions. With them data providers can be held accountable and advocates, activists, funders and policymakers can make better, more well informed decisions. LA Counts believes that data should be freely available to everyone to use and share as they wish, without restrictions from copyright, patents or other mechanisms of control.</p>

<h3 id="who-built-la-counts">Who built LA Counts? <a class="headerlink" href="#who-built-la-counts"><i class="fa fa-link"></i></a></h3>
<p>California Community Foundation (<a href="CCF">CCF</a>) has provided the initial funding and support for LA Counts. CCF has worked for over a century to transform generosity into impact and improve the quality of life for the communities of Los Angeles County, especially the poorest and most vulnerable. Dedicated to leading social change to benefit all residents, CCF is the permanent philanthropic endowment for LA County. LA Counts is proud to have them as the originating sponsor of this work.</p>




<h2 id="getting-involved">Getting Involved <a class="headerlink" href="#getting-involved"><i class="fa fa-link"></i></a></h2>

<h3 id="how-do-i-report-wrong-or-missing-information">How do I report wrong or missing information? <a class="headerlink" href="#how-do-i-report-wrong-or-missing-information"><i class="fa fa-link"></i></a></h3>
<p>You can let us know of any wrong or missing information, website bugs, or general feedback by filling out the <a href="/contact">Contact Us form</a>.</p>

<h3 id="how-do-i-submit-a-data-visualization-to-be-shown-on-the-homepage">How do I submit a data visualization to be shown on the homepage? <a class="headerlink" href="#how-do-i-submit-a-data-visualization-to-be-shown-on-the-homepage"><i class="fa fa-link"></i></a></h3>
<p>If you would like to submit a data visualization for consideration, please <a href="/contact">Contact Us</a> for more details.</p>

<h3 id="what-is-a-working-group">What is a working group? <a class="headerlink" href="#what-is-a-working-group"><i class="fa fa-link"></i></a></h3>
<p>LA Counts working groups bring people together to share experiences, expertise, and lessons learned. Each group has a topic of focus and works to identify opportunities to collect and analyze data and create data stories for public consumption.</p>

<h3 id="how-can-i-see-the-current-working-groups-and-join-a-group">How can I see the current working groups and join a group? <a class="headerlink" href="#how-can-i-see-the-current-working-groups-and-join-a-group"><i class="fa fa-link"></i></a></h3>
<p>You can see the progress being made by our working groups and join a working group by visiting our LA Counts Google Group (<a href="NEED LINK">NEED LINK</a>).</p>



<h2 id="events-volunteer-opportunities">Events + Volunteer Opportunities <a class="headerlink" href="#events-volunteer-opportunities"><i class="fa fa-link"></i></a></h2>

<h3 id="how-can-i-find-upcoming-events">How can I find upcoming events? <a class="headerlink" href="#how-can-i-find-upcoming-events"><i class="fa fa-link"></i></a></h3>
<p>You can find a list of upcoming events on our <a href="http://lacounts.org/getinvolved">Get Involved page</a>.</p>

<h3 id="if-my-organization-has-a-community-event-how-can-i-add-it-to-your-events-calendar">If my organization has a community event, how can I add it to your events calendar? <a class="headerlink" href="#if-my-organization-has-a-community-event-how-can-i-add-it-to-your-events-calendar"><i class="fa fa-link"></i></a></h3>
<p>If you’re looking to share an upcoming event with the LA Counts community, please <a href="/contact">Contact Us</a> for more details.</p>

<h3 id="what-are-volunteering-opportunities">What are volunteering opportunities? <a class="headerlink" href="#what-are-volunteering-opportunities"><i class="fa fa-link"></i></a></h3>
<p>Volunteering opportunities are provided by organizations who request help with data collection, cleaning, and/or analysis. These opportunities provide ways to put your data skills to use and gain hands-on experience while assisting local nonprofit organizations.</p>

<h3 id="how-can-i-find-volunteering-opportunities">How can I find volunteering opportunities? <a class="headerlink" href="#how-can-i-find-volunteering-opportunities"><i class="fa fa-link"></i></a></h3>
<p>You can find a list of volunteering opportunities on our <a href="http://lacounts.org/getinvolved">Get Involved page</a>.</p>

<h3 id="if-my-organization-has-a-volunteering-opportunity-how-can-i-add-it-to-your-volunteering-opportunities-list">If my organization has a volunteering opportunity, how can I add it to your volunteering opportunities list? <a class="headerlink" href="#if-my-organization-has-a-volunteering-opportunity-how-can-i-add-it-to-your-volunteering-opportunities-list"><i class="fa fa-link"></i></a></h3>
<p>If you’re looking to share a volunteering opportunity with the LA Counts community, please <a href="/contact">Contact Us</a> for more details.</p>



<h2 id="datasets">Datasets <a class="headerlink" href="#datasets"><i class="fa fa-link"></i></a></h2>

<h3 id="what-is-a-dataset">What is a dataset? <a class="headerlink" href="#what-is-a-dataset"><i class="fa fa-link"></i></a></h3>
<p>A dataset is a collection of data, most commonly in the form of a table, available for access or download in one or more formats. Typically, each column of the table represents a field or variable and each row corresponds to an individual piece of data within the dataset that contains information for each field.</p>

<h3 id="what-do-the-fields-in-the-datasets-mean">What do the fields in the datasets mean? <a class="headerlink" href="#what-do-the-fields-in-the-datasets-mean"><i class="fa fa-link"></i></a></h3>
<p>LA Counts encourages the publishing of data dictionaries alongside datasets to provide users with context and more details describing the fields and variables found in the dataset. If the data publisher has provided a data dictionary, it will be available under the Data and Resources section on your LA Counts dataset page.</p>

<h3 id="how-do-i-download-and-use-data-from-your-site">How do I download and use data from your site? <a class="headerlink" href="#how-do-i-download-and-use-data-from-your-site"><i class="fa fa-link"></i></a></h3>
<p>Search LA Counts’ <a href="http://lacounts.org/dataset">library</a> to find a dataset of interest. Click on the title to progress to a page with more details for that dataset. Not all datasets are downloadable, but all contain links to the original data sources. Look for the Data and Resources section to find the direct download links and other site links.</p>

<h3 id="can-i-request-a-dataset-be-created-or-updated">Can I request a dataset be created or updated? <a class="headerlink" href="#can-i-request-a-dataset-be-created-or-updated"><i class="fa fa-link"></i></a></h3>
<p>If you would like to request additional datasets or updated revisions to existing datasets, please use the <a href="/contact">Contact Us form</a> to suggest more datasets.</p>

<h3 id="why-are-the-datasets-in-different-formats">Why are the datasets in different formats? <a class="headerlink" href="#why-are-the-datasets-in-different-formats"><i class="fa fa-link"></i></a></h3>
<p>LA Counts is proud to provide the ability to see many different LA County-centric datasets gathered into one central location: this accomplishment has never been achieved before. Datasets come in different file formats according to the type of data being stored and the sharing choices made by the data publisher. Regardless of the file type, LA Counts encourages datasets to be provided in digital, machine-readable formats. For further explanation of common file types, please visit the <a href="http://opendatahandbook.org/guide/en/appendices/file-formats/">Open Data Handbook</a>.</p>

<h3 id="why-are-some-datasets-so-messy">Why are some datasets so messy? <a class="headerlink" href="#why-are-some-datasets-so-messy"><i class="fa fa-link"></i></a></h3>
<p>LA Counts datasets are presented without alteration or intervention. We believe that data quality is important but LA Counts does not own or host any of the datasets. Because our datasets are harvested from various publishers with unique requirements and needs, some datasets may need to be cleaned.</p>

<h3 id="why-is-some-metadata-missing-or-incomplete">Why is some metadata missing or incomplete? <a class="headerlink" href="#why-is-some-metadata-missing-or-incomplete"><i class="fa fa-link"></i></a></h3>
<p>Unfortunately, it is not a requirement for publishers to fill out every applicable metadata field. This leads to missing information in the metadata section. Dataset quality and usefulness depends on accurate metadata that describes the dataset. LA Counts has created a technique to measure completeness: the Metadata Completion Rate (<a href="#whats-the-metadata-completion-rate">explained below</a>). If you have a concern about this, please let us know <a href="/contact">here</a>.</p>

<h3 id="whats-the-metadata-completion-rate">What’s the metadata completion rate? <a class="headerlink" href="#whats-the-metadata-completion-rate"><i class="fa fa-link"></i></a></h3>
<p>The green or red circle on dataset pages indicates completeness against 12 required metadata fields. This tool aims to help both data publishers and data practitioners to recognize opportunities for improvement as well as discuss and address dataset hygiene. Please see our blog post (<a href="NEED LINK">NEED LINK</a>) describing the metadata completion rate in greater detail.</p>

<h3 id="how-do-i-clean-a-dataset">How do I clean a dataset? <a class="headerlink" href="#how-do-i-clean-a-dataset"><i class="fa fa-link"></i></a></h3>
<p>To learn more about the data cleaning process and for a quick 6-step guide, you can read more <a href="https://www.geotab.com/blog/data-cleaning/">here</a>.</p>

<h3 id="where-can-i-learn-more-about-getting-started-with-data">Where can I learn more about getting started with data? <a class="headerlink" href="#where-can-i-learn-more-about-getting-started-with-data"><i class="fa fa-link"></i></a></h3>
<p>You can learn more about getting started with data by visiting <a href="http://www.wprdc.org/beginners/">WPRDC</a>.</p>



<h2 id="data-stories">Data Stories <a class="headerlink" href="#data-stories"><i class="fa fa-link"></i></a></h2>

<h3 id="what-is-a-data-story">What is a data story? <a class="headerlink" href="#what-is-a-data-story"><i class="fa fa-link"></i></a></h3>
<p>Data stories help to illuminate the power of open data. By analyzing datasets, storytellers may uncover insights and reveal stories that may be hidden in the data. LA Counts features 5 types of data-focused stories:</p>

 <ul>
   <li>data stories</li>
   <li>data visualizations</li>
   <li>profiles &amp; interviews</li>
   <li>Methodologies</li>
   <li>white papers &amp; research  </li>
 </ul>

<h3 id="how-do-i-get-started-writing-a-data-story-for-la-counts">How do I get started writing a data story for LA Counts? <a class="headerlink" href="#how-do-i-get-started-writing-a-data-story-for-la-counts"><i class="fa fa-link"></i></a></h3>
<p>In order to write a data story, all you need is a dataset of interest to you! There are many ways to write a data story: these may include analyzing a dataset, creating a visualization, and/or writing down your data journey. If you still don’t know where to begin, the LA Counts blog has a few profile interviews, creating a visualization, and/or writing down your data journey. If you still don’t know where to begin, the LA Counts blog has a few profile interviews <a href="/dataset?story_type=Interviews+%2F+Profiles">profile interviews</a> that may help with inspiration.</p>

<h3 id="how-can-i-share-my-data-stories-with-la-counts">How can I share my data stories with LA Counts? <a class="headerlink" href="#how-can-i-share-my-data-stories-with-la-counts"><i class="fa fa-link"></i></a></h3>
<p>If you have a data story you would like to publish or an already written blog post, or would like to write a new data story, you can fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScarqwpnuqZhr7GgqxBFyZOK-eTDE5egkd3YSxmfntAVul3vg/viewform">this form</a> and the LA Counts team will review and follow up regarding possible next steps.</p>

<h3 id="how-do-i-submit-a-data-visualization-to-be-shown-on-the-homepage">How do I submit a data visualization to be shown on the homepage? <a class="headerlink" href="#how-do-i-submit-a-data-visualization-to-be-shown-on-the-homepage"><i class="fa fa-link"></i></a></h3>
<p>If you would like to submit a data visualization for consideration, please <a href="/contact">Contact Us</a> for more details.</p>

<h3 id="im-trying-to-write-a-data-story-but-need-help-with-data-analysis">I’m trying to write a data story but need help with data analysis! <a class="headerlink" href="#im-trying-to-write-a-data-story-but-need-help-with-data-analysis"><i class="fa fa-link"></i></a></h3>
<p>If you’re stuck on the technical aspects of writing a data story, try reaching out to your fellow LA Counts community members. Additionally, we have some links on our <a href="/resources">Resources page</a> that can help you get started working with data and creating data visualizations.</p>

<h3 id="what-are-the-la-counts-community-topics">What are the LA Counts Community Topics? <a class="headerlink" href="#what-are-the-la-counts-community-topics"><i class="fa fa-link"></i></a></h3>
<p>Community topics are areas that LA Counts chooses to focus on, in order to highlight areas that have been traditionally overlooked, underreported or underfunded. By tagging a dataset or data story with a topic label, this is our way of letting you know which topic the dataset / data story falls under.</p>



<h2 id="publishing-data-to-la-counts">Publishing data to LA Counts <a class="headerlink" href="#publishing-data-to-la-counts"><i class="fa fa-link"></i></a></h2>

<h3 id="how-are-the-datasets-on-la-counts-collected?-where-do-the-datasets-come-from">How are the datasets on LA Counts collected? Where do the datasets come from? <a class="headerlink" href="#how-are-the-datasets-on-la-counts-collected?-where-do-the-datasets-come-from"><i class="fa fa-link"></i></a></h3>
<p>Once an open data source or portal meets the necessary format and metadata requirements, the LA Counts team can pull directly from it as a harvested source, synchronizing the datasets and metadata with LA Counts. LA Counts does not host data, but rather aggregates open data resources in one easy-to-use, centralized location.</p>

<h3 id="how-can-i-add-my-data-to-la-counts">How can I add my data to LA Counts? <a class="headerlink" href="#how-can-i-add-my-data-to-la-counts"><i class="fa fa-link"></i></a></h3>
<p>Once a complete dataset is prepared and ready to be harvested, you can fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbxDUcAAhnN6xUQfv6xHc2lAbn_11sOYE2SYEOzFgHsLYicg/viewform">this form</a> and the LA Counts team will be in contact regarding next steps. Ensure that the data has been reviewed and does not contain publicly identifiable information. Please note that LA Counts is not responsible for the accuracy of datasets or privacy issues related to harvested open data.</p>


<h3 id="what-sources-are-harvestable">What sources are harvestable? <a class="headerlink" href="#what-sources-are-harvestable"><i class="fa fa-link"></i></a></h3>
<p>Right now LA Counts supports harvesting datasets automatically from this three source types:</p>

<ul>
<li>Socrata</li>
<li>CKAN</li>
<li>ESRI GeoPortal</li>
</ul>



<h3 id="whats-useful-for-sharing-public-data">What’s useful for sharing public data? <a class="headerlink" href="#whats-useful-for-sharing-public-data"><i class="fa fa-link"></i></a></h3>
<p>Ask your data these questions:</p>

<ul>
  <li>Why is this data collected?</li>
  <li>How is this data collected?</li>
  <li>What does each record represent?</li>
  <li>How can this data be used?</li>
  <li>What are the idiosyncrasies or limitations of the data to be aware of?</li>
</ul>



<h2 id="la-counts-technology">LA Counts Technology <a class="headerlink" href="#la-counts-technology"><i class="fa fa-link"></i></a></h2>

<h3 id="with-what-technology-is-la-counts-built">With what technology is LA Counts built? <a class="headerlink" href="#with-what-technology-is-la-counts-built"><i class="fa fa-link"></i></a></h3>
<p>LA Counts is developed publicly on <a href="https://github.com/okfn/ckanext-lacounts">GitHub</a>. Our site is built with <a href="http://ckan.org/">CKAN</a>, a powerful open-source, open data platform that provides tools to streamline publishing, sharing, finding and using data.  For more detailed information about the tech stack, please see the CKAN site.</p>

<p>LA Counts chose CKAN over other proprietary open data platforms for several reasons: its international acceptance; its open source ethos; and its existing worldwide community. If you’d like to contribute to LA Counts’ CKAN software development, please visit our GitHub repository.</p>

<h3 id="where-is-the-data-held">Where is the data held? <a class="headerlink" href="#where-is-the-data-held"><i class="fa fa-link"></i></a></h3>
<p>LA Counts aggregates datasets and stories relevant to LA County but does not host, store, or own the data. LA Counts points (or refers) to other data sources as a way of encouraging the exploration and continued development of existing Los Angeles dashboards, portals, and tools.</p>

<h3 id="what-is-open-source-software">What is open source software? <a class="headerlink" href="#what-is-open-source-software"><i class="fa fa-link"></i></a></h3>
<p><a href="https://en.wikipedia.org/wiki/Open-source_model">Open source software</a> is a “decentralized software development model that encourages open collaboration,” relies heavily on peer production and produces publicly available code. Anyone can freely copy, modify or redistribute the source code of open source software.</p>

<h3 id="do-you-have-a-github-repository">Do you have a GitHub repository? <a class="headerlink" href="#do-you-have-a-github-repository"><i class="fa fa-link"></i></a></h3>
<p>LA Counts has a <a href="GitHub repository">https://github.com/okfn/ckanext-lacounts</a> and we encourage all members of the development community to join in and help contribute to the future of our website.</p>

<h3 id="do-you-have-a-developer-api">Do you have a developer API? <a class="headerlink" href="#do-you-have-a-developer-api"><i class="fa fa-link"></i></a></h3>
<p>Yes, the catalog can be accessed via the CKAN API to search and access individual dataset details. Please visit the <a href="http://docs.ckan.org/en/2.8/api/index.html">CKAN API documentation</a> for full details on how to get started on using the API and the different actions available.</p>

<p>For instance, use the <a href="https://docs.ckan.org/en/2.8/api/index.html#ckan.logic.action.get.package_search">package_search</a> action to query the datasets on the site:</p>

<pre>
	curl -X POST https://www.lacounts.org/api/action/package_search \
		-d '{"q": "zoo", "fq": "organization:city-of-los-angeles", "rows": 10}'
</pre>

<p>Or to get the full metadata of an individual dataset:</p>

<pre>
	curl -X POST https://www.lacounts.org/api/action/package_show \
		-d '{"id": "l-a-zoo-attendance"}'
</pre>

<p>Or to get a list of all publishers in the site:</p>

<pre>
	curl -X POST https://www.lacounts.org/api/action/organization_list \
		-d '{"type": "publisher"}'
</pre>



{% endcall %}
{% endblock %}

{% block secondary %}{% endblock %}
