{% extends "page.html" %}
{% import 'macros/editable.html' as editable with context %}

{% block subtitle %}{{ _('Get Involved') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Get Involved'), controller='ckanext.lacounts.controller:StaticController', action='getinvolved' %}</li>
{% endblock %}

{% block primary_content %}
  {% call editable.region('get-involved') %}
    <h1>Get Involved</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% endcall %}

  <h2 id="events">{{ _('Events') }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Date 1</td>
        <td>Event 1</td>
        <td>Location 1</td>
      </tr>
      <tr>
        <td>Date 2</td>
        <td>Event 2</td>
        <td>Location 2</td>
      </tr>
    </tbody>
  </table>

  <h2 id="Volunteering">{{ _('Volunteering') }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Date 1</td>
        <td>Event 1</td>
        <td>Location 1</td>
      </tr>
      <tr>
        <td>Date 2</td>
        <td>Event 2</td>
        <td>Location 2</td>
      </tr>
    </tbody>
  </table>

{% endblock %}

{% block secondary_content  %}
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#events">Events</a>
  </li>
  <li>
    <a href="#Volunteering">Volunteering</a>
  </li>
</ul>
{% endblock %}
