{% extends "page.html" %}
{% import 'macros/editable.html' as editable with context %}

{% block subtitle %}{{ _('Privacy Policy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Privacy Policy'), controller='ckanext.lacounts.controller:StaticController', action='privacypolicy' %}</li>
{% endblock %}

{% block primary_content %}
  {% call editable.region('privacy-policy') %}
    <h1>Privacy Policy</h1>

    <p>Last updated: November 28, 2017</p>

    <p>LA Counts ("us", "we", or "our") operates http://www.lacounts.org (the "Service").</p>
    <p>This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Service.</p>
    <p>We use your personal information for providing and improving the Service.  By using the Service, you agree to the collection and use of information in accordance with this policy.</p>
    <p>We will not use or share your information with anyone except as described in this privacy policy.</p>

    <h2>Information Collection And Use</h2>
    <p>We collect certain personally identifiable information, such as your name and email address, when you register for an account on this Service. You may also provide us with optional information such as a photograph that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your username, email address and any optional profile information that you elect to associate with your account ("Personal Information").</p>

    <h2>Log Data</h2>
    <p>Like many site operators, we collect information that your browser sends whenever you visit our Service("Log Data").</p>

    <p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

    <p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service’s functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>

    <h2>Communications</h2>
    <p>We may use your personal information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send or by contacting us.</p>

    <h2>Cookies</h2>
    <p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to improve our services for you.</p>

    <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The “Help” feature on most browsers provide information on how to accept cookies, disable cookies or notify you when receiving a new cookie.</p>

    <p>If you do not accept cookies, you may not be able to use some features of our Service, and we recommend that you leave them turned on.</p>

    <h2>Compliance With Laws</h2>
    <p>We will disclose your personal information when required to do so by subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement, or to protect the security or integrity of our Service.</p>

    <h2>Security</h2>
    <p>The security of your personal information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.</p>

    <p>However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the personal information we have collected from you.</p>

    <h2>International Transfer</h2>
    <p>Your information, including personal information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>

    <p>If you are located outside of the United States and choose to provide information to us, please note that we transfer the information, including personal information, to the United States and process it there.</p>

    <p>Your consent to this privacy policy followed by your submission of such information represents your agreement to that transfer.</p>

    <h2>Links to Other Sites</h2>
    <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the privacy policy of every site you visit.</p>

    <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

    <h2>Childrens’ Privacy</h2>
    <p>Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 13 (“Children”).</p>

    <p>We do not knowingly collect personally-identifiable information from Children. If you are a parent or guardian and you learn that your Children have provided us with personal information, please contact us. If we become aware that we have collected personal information from Children without verification of parental consent, we will take steps to remove that information from our servers.</p>

    <h2>Changes to This Privacy Policy</h2>
    <p>This privacy policy is effective as of November 28, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>

    <p>We reserve the right to update or change our privacy policy at any time and you should check this privacy policy periodically. Your continued use of the Service after we post any modifications to the privacy policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified privacy policy.</p>
  {% endcall %}
{% endblock %}

{% block secondary %}{% endblock %}
