{% extends "page.html" %}
{% import 'macros/editable.html' as editable with context %}

{% block bodytag %} {{ super() }} class="getinvolved"{% endblock %}

{% block subtitle %}{{ _('Get Involved') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Get Involved'), controller='ckanext.lacounts.controller:GetInvolvedController', action='getinvolved' %}</li>
{% endblock %}

{% block primary_content %}
  {% call editable.region('get-involved') %}
    <h1>Get Involved</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% endcall %}

  <h2 id="working-groups">{{ _('Working groups') }}</h2>
  {% call editable.region('get-involved-working-groups') %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
  </p>
  {% endcall %}

  <ul class="working-groups-list">
    <li>
      <h3>Working group</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
      </p>
      <a class="btn" href="#">{{ _('learn more') }}</a>
    </li>
    <li>
      <h3>Working group</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
      </p>
      <a class="btn" href="#">{{ _('learn more') }}</a>
    </li>
  </ul>

  <h2 id="events">{{ _('Events') }}</h2>
  {% call editable.region('get-involved-events') %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
  </p>
  {% endcall %}
  {% if c.events %}
  <table class="table">
    <thead>
      <tr>
        <th style="width: 15%">{{ _('Date') }}</th>
        <th style="width: 50%">{{ _('Event') }}</th>
        <th>{{ _('Location') }}</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      {% for event in c.events|sort(reverse=False, attribute='date') %}
      <tr {% if event.description %}class="hasDescription"{% endif %}>
        <td>{{ h.render_datetime(event.date, date_format="%b %d, %Y") }}</td>
        <td>{% if event.url %}<a href="{{ event.url }}" target="_blank" rel="nofollow">{{ event.name }}</a>{% else %}{{ event.name }}{% endif %}</td>
        <td>{{ event.location }}</td>
        <td class="toggle_description_cell">{% if event.description %}
          <button type="button" class="btn btn-xs toggle_description" data-target="event_description_{{ loop.index }}">More info <span class="caret"></span></button>
        {% endif %}</td>
      </tr>
      {% if event.description %}
        <tr class="description_row">
          <td></td>
          <td colspan="3"><span class="description" id="event_description_{{ loop.index }}">{{ h.render_markdown(event.description) }}</span></td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>{{ _('There are currently no events.') }}</p>
  {% endif %}

  <h2 id="Volunteering">{{ _('Volunteer opportunities') }}</h2>
  {% call editable.region('get-involved-volunteering') %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
  </p>
  {% endcall %}
  {% if c.volunteering %}
  <table class="table">
    <thead>
      <tr>
        <th>Organization</th>
        <th style="width: 55%">{{ _('Contact (email)') }}</th>
        <th style="width: 16%">{{ _('Date opened') }}</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      {% for opportunity in c.volunteering|sort(reverse=True, attribute='created_on') %}
      <tr {% if opportunity.description %}class="hasDescription"{% endif %}>
        <td>{% if opportunity.url %}<a href="{{ opportunity.url }}" target="_blank" rel="nofollow">{{ opportunity.organization }}</a>{% else %}{{ opportunity.organization }}{% endif %}</td>
        <td>{% if opportunity.email_contact and opportunity.email %}<a href="mailto:{{ opportunity.email }}">{{ opportunity.email_contact }}</a>{% elif opportunity.email_contact %}{{ opportunity.email_contact }}{% else %}<a href="mailto:{{ opportunity.email }}">{{ opportunity.email }}</a>{% endif %}</td>
        <td>{{ h.render_datetime(opportunity.created_on, date_format="%b %d, %Y") }}</td>
        <td class="toggle_description_cell">{% if opportunity.description %}
          <button type="button" class="btn btn-xs toggle_description" data-target="op_description_{{ loop.index }}">More info <span class="caret"></span></button>
        {% endif %}</td>
      </tr>
      {% if opportunity.description %}
        <tr class="description_row">
          <td></td>
          <td colspan="3"><span class="description" id="op_description_{{ loop.index }}">{{ h.render_markdown(opportunity.description) }}</span></td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>{{ _('There are currently no volunteering opportunities.') }}</p>
  {% endif %}

{% endblock %}

{% block secondary_content  %}
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#working-groups">Working groups</a>
  </li>
  <li>
    <a href="#events">Events</a>
  </li>
  <li>
    <a href="#Volunteering">Volunteering</a>
  </li>
</ul>
{% endblock %}

{%- block footer %}
  {% if h.check_access('ckanext_lacounts_event_create') %}
    <div class="admin-page-actions">
      <div class="dropdown">
        <a class="btn btn-primary" id="addPage" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus-square"></i> Add
        </a>
        <ul class="dropdown-menu" aria-labelledby="addPage">
          {% link_for _('Add Event'), controller='ckanext.lacounts.controller:GetInvolvedController', action='new_event', class_='btn btn-primary', icon='plus-square' %}
          {% link_for _('Add Volunteering opportunity'), controller='ckanext.lacounts.controller:GetInvolvedController', action='new_volunteering', class_='btn btn-primary', icon='plus-square' %}
        </ul>
      </div>
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
