{% extends "page.html" %}
{% import 'macros/editable.html' as editable with context %}

{% block subtitle %}{{ _('Get Involved') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Get Involved'), controller='ckanext.lacounts.controller:GetInvolvedController', action='getinvolved' %}</li>
{% endblock %}

{% block primary_content %}
  {% call editable.region('get-involved') %}
    <h1>Get Involved</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% endcall %}

  <h2 id="working-groups">{{ _('Working groups') }}</h2>

  <ul class="working-groups-list">
    <li>
      <h3><a href="#">Working group</a></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
      </p>
      <a class="btn" href="#">{{ _('Join group') }}</a>
    </li>
    <li>
      <h3><a href="#">Working group</a></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus odio sit amet turpis fermentum, in tempus mauris egestas.
      </p>
      <a class="btn" href="#">{{ _('Join group') }}</a>
    </li>
  </ul>

  <h2 id="events">{{ _('Events') }}</h2>
  {% if c.events %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ _('Date') }}</th>
        <th>{{ _('Event') }}</th>
        <th>{{ _('Location') }}</th>
        <th>{{ _('Free?') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for event in c.events|sort(reverse=True, attribute='date') %}
      <tr>
        <td>{{ h.render_datetime(event.date) }}</td>
        <td>{% if event.url %}<a href="{{ event.url }}" target="_blank" rel="nofollow">{{ event.name }}</a>{% else %}{{ event.name }}{% endif %}</td>
        <td>{{ event.location }}</td>
        <td>{% if event.free %}{{ _('Yes') }}{% else %}{{ _('No') }}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>{{ _('There are currently no events.') }}</p>
  {% endif %}

  <h2 id="Volunteering">{{ _('Volunteering Opportunities') }}</h2>
  {% if c.volunteering %}
  <table class="table">
    <thead>
      <tr>
        <th>Organization</th>
        <th>{{ _('URL') }}</th>
        <th>{{ _('Description') }}</th>
        <th>{{ _('Email') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for opportunity in c.volunteering|sort(reverse=True, attribute='created_on') %}
      <tr>
        <td>{{ opportunity.organization }}</td>
        <td>{{ opportunity.url }}</td>
        <td>{{ opportunity.description }}</td>
        <td>{{ opportunity.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>{{ _('There are currently no volunteering opportunities.') }}</p>
  {% endif %}

{% endblock %}

{% block secondary_content  %}
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#working-groups">Working groups</a>
  </li>
  <li>
    <a href="#events">Events</a>
  </li>
  <li>
    <a href="#Volunteering">Volunteering</a>
  </li>
</ul>
{% endblock %}
