{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% if form_style != 'edit' %}{{ _('Create a Volunteer Opportunity') }}{% else %}{{ _('Update a Volunteer Opportunity') }}{% endif %}</h1>

  <form id="dataset-edit" class="dataset-form form-horizontal" method="post" action="" data-module="basic-form" enctype="multipart/form-data">

    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    {{ form.input('organization', id='field-organization', label="Organization", placeholder=_('eg. Organization name'), value=data.organization, error=errors.organization, classes=['control-full', 'control-large'], is_required=True) }}

    {% call form.input('url', label=_('Organization URL'), id='field-url', placeholder=_('http://www.example.com'), value=data.url, error=errors.url, classes=['control-full', 'control-medium']) %}
      <span class="info-block info-block-small">
        <i class="fa fa-info-circle"></i>
        {{ _('This will be the url for the Organization name entered above. Leave blank if you wish') }}
      </span>
    {% endcall %}

    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A description of the volunteer opportunity'), value=data.description, error=errors.description, classes=['control-full', 'control-large']) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-large', 'control-full']) }}

    {% call form.input('email_contact', id='field-email-contact', label=_('Email contact name'), placeholder=_('eg. Joe Smith'), value=data.email_contact, error=errors.email_contact, classes=['control-medium']) %}
      <span class="info-block info-block-small">
        <i class="fa fa-info-circle"></i>
        {{ _('This will be the link text for the email provide above. Leave blank if you wish') }}
      </span>
    {% endcall %}


    <div class="form-group control-large">
      <label for="field-is_filled" class="control-label">{{ _('Is Filled?') }}</label>
      <div class="controls">
        <select id="field-is_filled" name="is_filled" class="form-control">
          {% for option in [('False', _('False')), ('True', _('True'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.is_filled|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group control-large control-select">
      <label class="control-label" for="field-groups-get-involved">Topics</label>
      <div class="controls ">
        <select name="topic_tags" id="field-groups-get-involved" multiple="multiple" style="width: 100%">
          {% for group in h.get_groups_for_form(selected_groups=[]) %}
            <option value="{{ group.name }}" {% if group.name in data.get('topic_tags', []) %}selected{% endif %}>{{ group.display_name }}</option>
          {% endfor %}
        </select>
        <div class="info-block ">
          <i class="fa fa-info-circle"></i>
          Add one or more topics
        </div>
      </div>
    </div>

    {% block form_actions %}
      <div class="form-actions">
        {% block delete_button %}
          {% if form_style == 'edit' and h.check_access('ckanext_lacounts_volunteering_delete', {'id': data.id}) and not data.state == 'deleted' %}
            {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Volunteer Opportunity?')}) %}
            <a class="btn btn-danger pull-left" href="{% url_for controller='ckanext.lacounts.controller:GetInvolvedController', action='remove_volunteering', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
          {% endif %}
        {% endblock %}
        {% block save_button %}
          <button class="btn btn-primary" type="submit">{% if form_style != 'edit' %}{{ _('Create Volunteer Opportunity') }}{% else %}{{ _('Update Volunteer Opportunity') }}{% endif %}</button>
        {% endblock %}
        {{ form.required_message() }}
      </div>
    {% endblock %}
  </form>

{% endblock %}


{% block secondary_content %}
  {{ super() }}
  <div class="module module-narrow module-shallow">
    <div class="module-content">
      {% trans %}
         <p>Use this form to create a new Volunteer Opportunity for the <em>Get Involved</em> page.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
