{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), named_route=group_type+'_index' %}</li>
{% endblock %}

{% block organizations_list %}
    {# {{super()}} #}

{% if c.page.items or request.params %}
  {% if c.page.items %}
    {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
  {% endif %}
{% else %}
  <p class="empty">
    {{ _('There are currently no organizations for this site') }}.
    {% if h.check_access('organization_create') %}
      {% link_for _('How about creating one?'), named_route=group_type+'_new' %}</a>.
    {% endif %}
  </p>
{% endif %}
{% endblock %}
