{% ckan_extends %}

{% block primary_content_inner %}

    {% block package_title %}
      {% snippet 'snippets/connectivity.html' %}
      <h1>
        {{ c.group_dict.display_name }}
        {% if c.group_dict.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if c.group_dict.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      </h1>
    {% endblock %}

    {% block package_notes %}
      {% if c.group_dict.description %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(c.group_dict, 'description')) }}
        </div>
      {% endif %}
    {% endblock %}

    {% block groups_search_form %}
      {% set facets = {
        'fields': c.fields_grouped,
        'search': c.search_facets,
        'titles': c.facet_titles,
        'translated_fields': c.translated_fields,
        'remove_field': c.remove_field }
      %}

     {% set sorting_selected = c.sort_by_selected %}
     {% set sorting = [
       (_('Relevance'), 'score desc, metadata_modified desc'),
       (_('Name Ascending'), 'title_string asc'),
       (_('Name Descending'), 'title_string desc'),
       (_('Last Modified'), 'metadata_modified desc'),
       (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
     %}
     {% if not c.q and not h.get_query_param('sort') %}
       {% set sorting_selected = 'metadata_modified desc' %}
     {% endif %}

     {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=sorting_selected, count=c.page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=c.fields %}
   {% endblock %}
   {% block packages_list %}
     {{ c.page.pager(q=c.q) }}
     {{ super() }}
   {% endblock %}

   {% block page_pagination %}
   {% endblock %}

{% endblock %}

{% block page_primary_action %}
{% endblock %}

{%- block footer %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id }) %}
    <div class="admin-page-actions">
      {% link_for _('Manage'), named_route='organization_edit', id=c.group_dict.name, class_='btn btn-default', icon='wrench' %}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
