{% ckan_extends %}

{% block skip %}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9K7RC3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ super() }}
{% endblock -%}

{%- block header %}

  <div class="page{% if c.userobj %} logged-in{% else %} not-logged-in{% endif %}">
    {% include "header.html" %}
    <form class="section site-search simple-input" action="/dataset" method="get">
      <div class="container field">
        <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search datasets and stories') }}{% endblock %}</label>
        <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search datasets and stories') }}" value="{{ c.q }}" autocomplete="off"  >
        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
        {# Search from header always starts from scratch #}
        {#
          {% if c.fields %}
            <span>{{ form.hidden_from_list(fields=c.fields, except_names=['q']) }}</span>
          {%- endif %}
          {% if c.sort_by_selected %}
            <input type="hidden" name="sort" value="{{ c.sort_by_selected }}" />
          {% endif %}
        #}
      </div>

    </form>




{% endblock -%}


{% block main_content %}
  {% block flash %}
    {{ super() }}
  {% endblock %}

  {% block toolbar %}
  {% endblock %}

  <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
    {% block pre_primary %}{% endblock %}

    {% block primary %}
      {{ super() }}
    {% endblock %}

    {% block secondary %}
      {{ super() }}
    {% endblock %}

  </div>
{% endblock %}

{%- block footer %}
  {% if self.content_action() | trim %}
    <div class="admin-page-actions">
      {% block content_action %}{% endblock %}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
