{% ckan_extends %}
{% import 'macros/editable.html' as editable with context %}

{% block bodytag %} {{ super() }} class="topics-index"{% endblock %}

{% block subtitle %}{{ _('Topics') }}{% endblock %}

{% block wrapper_class %} no-nav{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Topics'), controller='group', action='index', named_route=group_type + '_index' %}</li>
{% endblock %}

{% block page_header %}
  {% snippet 'snippets/connectivity.html' %}
  <h1>{{ _('Topics') }}</h1>
  <div class="helper-info" id="libraryHelper">
    <h4 class="header"><span class="sr-only">What is this</span>?</h4>
    <div class="content">
      {% call editable.region('topics-intro') %}
      <p>
        The LA Counts community is focused on improving the lives of all Angelenos through open data and stories. The six topics given prominence here—Education, Environment, Health, Housing, Immigration, and Transportation—represent areas of concern that traditionally have been overlooked, underreported, or underfunded. Each topic category is an opportunity for you to reflect on the amount of available data, interrogate existing approaches to solutions, work with others to explore new ideas and applications, or write data stories that reflect the current social or political status of an issue. Get to it.
      </p>
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block groups_search_form %}{% endblock %}

{% block page_primary_action %}{% endblock %}

{% block secondary_content %}{% endblock %}

{%- block footer %}
  {% if h.check_access('group_create') %}
    <div class="admin-page-actions">
      {% link_for _('Add Group'), named_route=group_type+'/new', class_='btn btn-primary', icon='plus-square' %}
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}
