{% import 'macros/editable.html' as editable with context %}

<section class="whats-happening">
  {% call editable.region('whats-happening') %}
    <h1>What's happening</h1>
    <p>LA Counts is a growing community of open data practitioners, data journalists, academics, researchers, students, philanthropists, and policymakers. Connect with us! </p>
  {% endcall %}
  <div class="button-boxes">
    <div>
      <i class="icon fa fa-envelope-o" aria-hidden="true"></i>
      {% call editable.region('whats-happening-email') %}
        <p>Connect with Los Angeles County's open data community.</p>
      {% endcall %}
      <a class="btn" href="https://groups.google.com/forum/#!forum/lacounts" target="_blank">Join mailing list</a>
    </div>

    <div>
      <i class="icon fa fa-github-alt" aria-hidden="true"></i>
      {% call editable.region('whats-happening-github') %}
        <p>Help build LA Counts: we're open source AND open data.</p>
      {% endcall %}
      <a class="btn" href="https://github.com/okfn/ckanext-lacounts" target="_blank">View GitHub repo</a>
    </div>

    <div>
      <i class="icon icon-twitter" aria-hidden="true"></i>
      {% call editable.region('whats-happening-twitter') %}
        <div id="tweet"></div>
      {% endcall %}
      <a class="btn" href="https://twitter.com/LA_COUNTS" target="_blank">Follow us on Twitter</a>
    </div>
  </div>
</section>
