<section>
  <h2>{{ _("Community works") }}</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus ultricies nibh, in gravida massa. Cras viverra sapien eros, ac consectetur nisl rutrum sed. Etiam consequat feugiat mauris, quis maximus sem molestie in.
  </p>
  <figure class="featured-visualisation">
    <img src="/images/vis.jpg" alt="{{ _("Visualisation") }} - Where are L.A.'s dirtiest streets?" />
    <figcaption>
      <div class="caption-header">
        <h3><a href="#">{{ _("Featured visualisation") }}: Where are L.A.'s dirtiest streets?</a></h3>
        <button type="button" class="toggle"><span class="sr-only">Toggle description</span></button>
      </div>
      <div class="caption-body in">
        <p>
          Inspectors gave failing cleanliness grades to more than 370 miles of streets and alleys in Los Angeles, or about 4% of the city. The grades were based on observations of illegal dumping, bulky items, loose litter and weeds in those areas.
        </p>
        <a href="#" class="explore-link">{{ _("See full visualisation") }}</a>
      </div>
    </figcaption>
  </figure>
</section>
