{% import 'macros/editable.html' as editable with context %}

<section class="featured-visualisation">

  {% call editable.region('publishers-viz-home') %}
    <h1>Publishers by volume</h1>

    <p>This visualization provides insight into the publishers responsible for the datasets on this site.</p>
  {% endcall %}
  <figure>

    <svg width="960" height="750" font-size="14" text-anchor="middle" style="width: 100%" viewBox="0 0 960 750" preserveAspectRatio="xMidYMid meet"></svg>
  </figure>
    <script type="text/javascript">
        var rows = {{ h.get_bubble_rows()|tojson|safe }};
    </script>

    {% resource 'lacounts/bubble' %}

  <a href="/publisher" class="explore-link">{{ _("View all publishers") }}</a>
</section>
