<section>
  <h1>{{ _("Recent data stories") }}</h1>
  <p>
    Data stories help to illuminate the power of open data. LA Counts features 5 types of stories: data stories; data visualizations; profiles and interviews; methodologies; and white papers and research.
  </p>
  <div class="stories-list">
    <article>
      <a class="image">
        <img src="/images/story-featured-img-example.jpg" alt="" />
      </a>
      <div class="text">
        <h1><a>Silver Lake Parking Tickets II: Neighborhoods</a></h1>
        <p>
          After months of skating by, undetected, unpermitted, it finally happened: we got a parking ticket.
        </p>
      </div>
    </article>
    <article>
      <a class="image">
        <img src="/images/story-featured-img-example.jpg" alt="" />
      </a>
      <div class="text">
        <h1><a>Silver Lake Parking Tickets II: Neighborhoods</a></h1>
        <p>
          After months of skating by, undetected, unpermitted, it finally happened: we got a parking ticket.
        </p>
      </div>
    </article>
    <article>
      <a class="image">
        <img src="/images/story-featured-img-example.jpg" alt="" />
      </a>
      <div class="text">
        <h1><a>Silver Lake Parking Tickets II: Neighborhoods</a></h1>
        <p>
          After months of skating by, undetected, unpermitted, it finally happened: we got a parking ticket.
        </p>
      </div>
    </article>
    <article>
      <a class="image">
        <img src="/images/story-featured-img-example.jpg" alt="" />
      </a>
      <div class="text">
        <h1><a>Silver Lake Parking Tickets II: Neighborhoods</a></h1>
        <p>
          After months of skating by, undetected, unpermitted, it finally happened: we got a parking ticket.
        </p>
      </div>
    </article>
  </div>
  <a class="explore-link">View all stories</a>
</section>
