<section>
  <h2>Community Topics</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus ultricies nibh, in gravida massa. Cras viverra sapien eros, ac consectetur nisl rutrum sed. Etiam consequat feugiat mauris, quis maximus sem molestie in.
  </p>
  <ul class="topics-list">
    <li class="education">
      <a>
        <span class="image">{% include 'icons/book.svg' %}</span>
        <h3 class="topic-name">Education</h3>
      </a>
    </li>
    <li class="health">
      <a>
        <span class="image">{% include 'icons/heart.svg' %}</span>
        <h3 class="topic-name">Health</h3>
      </a>
    </li>
    <li class="environment">
      <a>
        <span class="image">{% include 'icons/leaf.svg' %}</span>
        <h3 class="topic-name">Environment</h3>
      </a>
    </li>
    <li class="mobility">
      <a>
        <span class="image">{% include 'icons/bus.svg' %}</span>
        <h3 class="topic-name">Mobility</h3>
      </a>
    </li>
    <li class="housing">
      <a>
        <span class="image">{% include 'icons/keys.svg' %}</span>
        <h3 class="topic-name">Housing</h3>
      </a>
    </li>
    <li class="immigration">
      <a>
        <span class="image">{% include 'icons/passport.svg' %}</span>
        <h3 class="topic-name">Immigration</h3>
      </a>
    </li>
  </ul>
</section>
