{% import 'macros/editable.html' as editable with context %}

<section class="topics">
  {% call editable.region('topics') %}
    <h1>Community topics</h1>
    <p>With over 10 million residents spread across 4000+ square miles, Los Angeles County is diverse, distributed, data-rich and data-poor. These six topics touch upon issues that afflict some of our poorest and most vulnerable populations. Use them as jumping off points to learn and share opportunities for improvement and change.</p>
  {% endcall %}
  <ul class="button-boxes topics-list">
    {% for topic in h.get_topics(only_featured=True) %}
      <li class="{{ topic.name }} full-link">
        <a href="{{ h.url_for('topic_read', id=topic.name) }}">
          {% if topic.icon_path %}
            <span class="icon">{% include topic.icon_path %}</span>
          {% endif %}
          <span class="btn">
            {{ topic.title }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <a href="{{ h.url_for('topic_index') }}" class="explore-link">View all topics</a>
</section>
