@define-mixin btn-colour $bg, $col: #fff, $bor: $bg {
  background-color: $bg;
  color: $col;
  border-color: $bor;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: color($bg shade(10%));
    color: $col;
    border-color: color($bor shade(10%));
  }
}

.btn {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  @mixin btn-colour var(--body-colour), #fff, var(--body-colour);
  font-size: 1em;
  padding: 0.5em 1.1em;
  border-radius: var(--border-radius);
  transition: all 0.5s;
}

.btn-primary {
  @mixin btn-colour var(--primary-colour);
}
.btn-success {
  @mixin btn-colour var(--success-colour);
}
.btn-info {
  @mixin btn-colour var(--info-colour);
}
.btn-warning {
  @mixin btn-colour var(--warning-colour), var(--body-colour);
}
.btn-danger {
  @mixin btn-colour var(--danger-colour);
}
.btn-inverse {
  @mixin btn-colour #fff, var(--primary-colour), #fff;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: color(var(--primary-colour) shade(10%));
}

.explore-link {
  color: var(--heading-link-colour);
  display: inline-flex;
  align-items: center;
  line-height: 1.2;

  &::after {
    @mixin icon;
    @mixin icon-arrow-right;
    color: var(--link-colour);
    margin-left: 0.1em;
  }

  &:hover {
    text-decoration: none;
    color: var(--heading-link-colour);

    &::after {
      box-shadow: 0 0.1em 0 var(--link-colour);
    }
  }
}


@define-mixin btn-box-col $col: var(--yellow), $btnTxtCol: #333, $bgCol:color($col a(20%)) {
  background-color: $bgCol;

  & .icon {
    color: $col;
  }

  & svg {
    fill: $col;
  }

  & .btn {
    @mixin btn-colour $col, $btnTxtCol;
  }
}

@define-mixin btn-box {
  border-radius: var(--border-radius);
  padding: var(--spacer-25);
  display: flex;
  flex-direction: column;

  @media (--medium-up) {
    font-size: 0.85em;
  }

  & .icon {
    font-size: 3em;
    margin-bottom: 0.2em;
    display: inline-flex;
    align-items: center;

    & svg {
      max-height: 100%;
    }
  }

  & ul {
    padding: 0;
    margin: 0;

    & li {
      display: block;
    }
  }

  & p {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0.5em;
  }

  & .btn {
    margin-top: auto;
    width: 100%;
  }
}

.button-box {
  @mixin btn-box;
  @mixin btn-box-col;
}

.button-boxes {
  grid-column-gap: var(--spacer-25);

  @media (--medium-up) {
    display: grid;
  }

  & > * {
    @mixin btn-box;
    @mixin btn-box-col;
    margin-top: var(--spacer-25);
    align-items: center;
    text-align: center;
  }
}
