.completion-rate-chart {
  font-size: 2.5rem;
  width: 2em;
  height: 2em;
  position: relative;
  background-color: var(--body-bg);
  border-radius: 50%;
  cursor: pointer;

  & .chart-centre {
    fill: var(--body-bg);
  }

  & .chart-ring,
  & .chart-segment {
    stroke-width: 4.5;
  }

  & .chart-ring {
    stroke: #DADADA;
  }

  & .chart-segment {
    stroke: var(--success-colour);
  }

  &.poor {
    & .chart-segment {
      stroke: var(--danger-colour);
    }
  }

  &.ok {
    & .chart-segment {
      stroke: var(--warning-colour);
    }
  }

  & .figure {
    font-size: 0.4em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: var(--success-colour);
    text-decoration: none;
  }

  &.poor {
    & .figure {
      color: var(--danger-colour);
    }
  }

  &.ok {
    & .figure {
      color: var(--warning-colour);
    }
  }

  & .dropdown-menu {
    left: auto;
    right: 0;

    & .count,
    & .total {
      font-weight: bold;
    }

    & .count {
      color: var(--success-colour);
    }
  }

  &.poor {
    & .dropdown-menu .count {
      color: var(--danger-colour);
    }
  }

  &.ok {
    & .dropdown-menu .count {
      color: var(--warning-colour);
    }
  }
}

.resources,
.additional-info {
  & h3 {
    @media (--medium-up) {
      font-size: var(--font-size-medium);
    }
  }
}

.additional-info {
  & .meta-data {
    position: relative;
    padding-top: 0.5em;

    & .completion-rate-chart {
      position: absolute;
      top: 0.35em;
      right: -0.2em;

      @media (--large-up) {
        top: 0.1em;
      }
    }

    & tr:first-child th,
    & tr:first-child td {
      padding-top: 0;
    }
  }
}


.publisher.button-box {
  @media (--medium-up) {
    font-size: var(--font-size-medium);
  }

  & p {
    font-weight: bold;
    margin-bottom: 0.5em;

    & a {
      display: block;
      color: var(--heading-link-colour);
      font-size: 1.5em;
    }
  }

  & span {
    margin-top: 0.5em;
    font-size: 0.7em;

    & span {

      font-size: 1em;
    }
  }
}

.license {
  & .module-heading {
    display: none;
  }
}

.module-narrow {
  & .dataset-list {
    margin: 0;
    padding: 0;

    & li {
      margin-top: 1em;
      border-bottom: solid 0.2em var(--yellow);
      padding-bottom: 0.5em;
      &.empty {
        border-bottom: none;
        & a {
          text-transform: uppercase;
        }
      }
      &.suggest-empty {
        border-bottom: none;
      }
    }

    & a {
      font-weight: bold;
      color: var(--heading-link-colour);
    }
  }
}

.resources {
  margin-bottom: 2em;
}

.resource-item {
  display: flex;
  align-items: center;
  padding: 10px;

  & .format-label {
    display: none;

    @media (--small-up) {
      display: block;
      position: static;
      margin-right: var(--spacer-15);
      flex-shrink: 0;
      width: var(--format-icon-width); /* override strangely specific CSS */
      height: var(--format-icon-height);/* override strangely specific CSS */
    }
  }

  & .heading {
    font-size: var(--font-size-small);

    @media (--medium-up) {
      font-size: var(--font-size-medium);
    }
  }

  & .description {
    font-size: var(--font-size-small);
  }

  & .explore {
    display: none;

    @media (--medium-up) {
      display: flex;
      margin-left: auto;

      & li {
        display: block;

        & a {
          text-decoration: none;
          display: flex;
          align-items: center;
          height: 36px;
          margin-left: var(--spacer-15);

          & .text {
            font-size: var(--font-size-small);
            margin-left: 0.2em;
          }

          @media (hover: hover) {
            background-color: color(var(--grey) tint(50%));
            width: 36px;
            border-radius: 18px;
            color: var(--body-bg);

            & i {
              font-size: 0.9em;
              position: relative;

              /* compensate for font-awesome inconsistencies */
              &.fa-table,
              &.fa-arrow-down,
              &.fa-link,
              &.fa-info {
                top: 1px;
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    background-color: var(--body-bg);
  }
}

.format-label {
  width: var(--format-icon-width);
  height: var(--format-icon-height);
  background-size: auto 150px;
  background-position: calc(0 - calc(calc(0 * 50px)) - 10px) -108px;
  filter: grayscale(100%);

  &[data-format=rdf],
  &[data-format*=rdf] {
    background-position: calc(0 - calc(calc(12 * 50px)) - 10px) -108px;
  }

  &[data-format=pdf],
  &[data-format*=pdf] {
    background-position: calc(0 - calc(calc(11 * 50px)) - 10px) -108px;
  }

  &[data-format=api],
  &[data-format*=api] {
    background-position: calc(0 - calc(calc(10 * 50px)) - 10px) -108px;
  }

  &[data-format=zip],
  &[data-format*=zip] {
    background-position: calc(0 - calc(calc(9 * 50px)) - 10px) -108px;;
  }

  &[data-format=xls],
  &[data-format*=xls] {
    background-position: calc(0 - calc(calc(8 * 50px)) - 10px) -108px;
  }

  &[data-format=csv],
  &[data-format*=csv] {
    background-position: calc(0 - calc(calc(7 * 50px)) - 10px) -108px;
  }

  &[data-format=txt],
  &[data-format*=txt] {
    background-position: calc(0 - calc(calc(4 * 50px)) - 10px) -108px;
  }

  &[data-format=xml],
  &[data-format*=xml] {
    background-position: calc(0 - calc(calc(3 * 50px)) - 10px) -108px;
  }

  &[data-format=json],
  &[data-format*=json] {
    background-position: calc(0 - calc(calc(2 * 50px)) - 10px) -108px;
  }

  &[data-format=html],
  &[data-format*=html] {
    background-position: calc(0 - calc(calc(1 * 50px)) - 10px) -108px;
  }

  /* override Geoview ext */
  &[data-format=wfs],
  &[data-format*=wfs],
  &[data-format=wms],
  &[data-format*=wms],
  &[data-format=gml],
  &[data-format*=gml],
  &[data-format=kml],
  &[data-format*=kml],
  &[data-format=wmts],
  &[data-format*=wmts],
  &[data-format=geojson],
  &[data-format*=geojson] {
    background-image: url("../../../base/images/sprite-resource-icons.png");
    background-size: auto 150px;
  }

  &[data-format=wfs],
  &[data-format*=wfs] {
    background-position: calc(0 - calc(calc(18 * 50px)) - 10px) -108px;
  }

  &[data-format=wms],
  &[data-format*=wms] {
    background-position: calc(0 - calc(calc(13 * 50px)) - 10px) -108px;
  }

  &[data-format=gml],
  &[data-format*=gml] {
    background-position: calc(0 - calc(calc(19 * 50px)) - 10px) -108px;
  }

  &[data-format=kml],
  &[data-format*=kml] {
    background-position: calc(0 - calc(calc(21 * 50px)) - 10px) -108px;
  }

  &[data-format=wmts],
  &[data-format*=wmts] {
    background-position: calc(0 - calc(calc(20 * 50px)) - 10px) -108px;
  }

  &[data-format=geojson],
  &[data-format*=geojson] {
    background-position: calc(0 - calc(calc(22 * 50px)) - 10px) -108px;
  }
}

.truncate {
  transition: max-height 1s;
  position: relative;

  &.do {
    &::after {
      content: '';
      position: absolute;
      height: 2em;
      left: 0;
      right: 0;
      bottom: -0.1em;
      background: linear-gradient(to bottom, color(var(--body-bg) a(0%)) 0%,var(--body-bg) 100%);
    }
  }
}
.trunc-expand,
.trunc-collapse {
  cursor: pointer;
}

.trending {
  & .icon-trending {
    font-size: 1.5em;
    width: auto;
  }
}

@media (hover: hover) {
  .explore li a,
  .trending {
    position: relative;
    justify-content: center;

    & .text {
      @mixin sr-only;
    }

    &:hover {
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.6rem 0.6rem 0 0.6rem;
        border-color: color(var(--grey) tint(90%)) transparent transparent transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -0.6em;
      }

      &::before {
        content: attr(data-label);
        position: absolute;
        bottom: 100%;
        margin-bottom: 0.5em;
        @mixin tip color(var(--grey) tint(90%)), var(--shadow);
        color: var(--body-colour);
        padding: 0.5em;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.dataset {
  & .resources {
    padding-top: var(--spacer-50);
  }

  & .notes > :last-child {
    margin-bottom: 0;
  }

  & .primary-meta {
    font-size: var(--font-size-small);

    & > span {
      display: flex;
      align-items: center;
      margin-top: 0.5em;
    }

    @media (--small-up) {
      display: flex;
      align-items: flex-end;

      & > span {
        & + span {
          padding-left: 0.5em;
          margin-left: 0.5em;
          border-left: solid 1px var(--grey);
        }
      }

      & :first-child {
        margin-left: auto;
      }
    }
  }

  & .trunc-expand,
  & .trunc-collapse {
    @media (--small-up) {
      float: left;
    }
  }
}
