.completion-rate-chart {
  font-size: 2.5rem;
  width: 2em;
  height: 2em;
  position: relative;
  background-color: var(--body-bg);
  border-radius: 50%;
  cursor: pointer;

  & .chart-centre {
    fill: var(--body-bg);
  }

  & .chart-ring,
  & .chart-segment {
    stroke-width: 4.5;
  }

  & .chart-ring {
    stroke: #DADADA;
  }

  & .chart-segment {
    stroke: var(--success-colour);
  }

  &.poor {
    & .chart-segment {
      stroke: var(--danger-colour);
    }
  }

  &.ok {
    & .chart-segment {
      stroke: var(--warning-colour);
    }
  }

  & .figure {
    font-size: 0.4em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: var(--success-colour);
    text-decoration: none;
  }

  &.poor {
    & .figure {
      color: var(--danger-colour);
    }
  }

  &.ok {
    & .figure {
      color: var(--warning-colour);
    }
  }

  & .dropdown-menu {
    left: auto;
    right: 0;

    & .count,
    & .total {
      font-weight: bold;
    }

    & .count {
      color: var(--success-colour);
    }
  }

  &.poor {
    & .dropdown-menu .count {
      color: var(--danger-colour);
    }
  }

  &.ok {
    & .dropdown-menu .count {
      color: var(--warning-colour);
    }
  }
}

.resources,
.additional-info {
  & h3 {
    @media (--medium-up) {
      font-size: var(--font-size-medium);
    }
  }
}

.additional-info {
  & .meta-data {
    position: relative;
    padding-top: 0.5em;

    & .completion-rate-chart {
      position: absolute;
      top: 0.35em;
      right: -0.2em;

      @media (--large-up) {
        top: 0.1em;
      }
    }
  }
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 0.6em 0;
}


.publisher.button-box {
  @media (--medium-up) {
    font-size: var(--font-size-medium);
  }

  & p {
    font-weight: bold;
    margin-bottom: 0.5em;

    & a {
      display: block;
      color: var(--heading-link-colour);
      font-size: 1.5em;
    }
  }

  & span {
    margin-top: 0.5em;
    font-size: 0.7em;

    & span {

      font-size: 1em;
    }
  }
}

.license {
  & .module-heading {
    display: none;
  }
}

.module-narrow {
  & .dataset-list {
    margin: 0;
    padding: 0;

    & li {
      margin-top: 1em;
      border-bottom: solid 0.2em var(--yellow);
      padding-bottom: 0.5em;
    }

    & a {
      font-weight: bold;
      color: var(--heading-link-colour);
    }
  }
}

.resources {
  margin-bottom: 2em;
}

.resource-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: var(--spacer-25);

  & .format-label {
    position: static;
    margin-right: var(--spacer-25);
    flex-shrink: 0;
    width: 58px; /* override strangely specific CSS */
    height: 62px;/* override strangely specific CSS */
  }

  & .heading {
    font-size: 1rem;
  }

  & .description {
    font-size: var(--font-size-small);
  }

  & .explore {
    display: none;

    @media (--medium-up) {
      display: flex;
      margin-left: auto;

      & li {
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin-left: var(--spacer-15);

        & a {
          background-color: color(var(--grey) tint(50%));
          color: var(--body-bg);
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;

          &:hover {
            background-color: var(--dark-blue);
          }
        }
      }
    }
  }

  &:hover {
    background-color: var(--body-bg);
  }
}

.format-label {
  width: 58px;
  height: 62px;
  background-size: auto 150px;
  background-position: calc(0 - calc(calc(17 * 100px)) - 21px) -19px;

  &[data-format=rdf],
  &[data-format*=rdf] {
    background-position: calc(0 - calc(calc(11 * 100px)) - 21px) -19px;
  }

  &[data-format=pdf],
  &[data-format*=pdf] {
    background-position: calc(0 - calc(calc(10 * 100px)) - 21px) -19px;
  }

  &[data-format=api],
  &[data-format*=api] {
    background-position: calc(0 - calc(calc(9 * 100px)) - 21px) -19px;
  }

  &[data-format=zip],
  &[data-format*=zip] {
    background-position: calc(0 - calc(calc(8 * 100px)) - 21px) -19px;
  }

  &[data-format=xls],
  &[data-format*=xls] {
    background-position: calc(0 - calc(calc(7 * 100px)) - 21px) -19px;
  }

  &[data-format=csv],
  &[data-format*=csv] {
    background-position: calc(0 - calc(calc(6 * 100px)) - 21px) -19px;
  }

  &[data-format=txt],
  &[data-format*=txt] {
    background-position: calc(0 - calc(calc(3 * 100px)) - 21px) -19px;
  }

  &[data-format=xml],
  &[data-format*=xml] {
    background-position: calc(0 - calc(calc(2 * 100px)) - 21px) -19px;
  }

  &[data-format=json],
  &[data-format*=json] {
    background-position: calc(0 - calc(calc(1 * 100px)) - 21px) -19px;
  }

  &[data-format=html],
  &[data-format*=html] {
    background-position: calc(0 - calc(calc(0 * 100px)) - 21px) -19px;
  }

}

.truncate {
  transition: max-height 1s;
  position: relative;

  &.do {
    &::after {
      content: '';
      position: absolute;
      height: 2em;
      left: 0;
      right: 0;
      bottom: -0.1em;
      background: linear-gradient(to bottom, color(var(--body-bg) a(0%)) 0%,var(--body-bg) 100%);
    }
  }
}
.trunc-expand,
.trunc-collapse {
  cursor: pointer;
}

.dataset {
  & .resources {
    padding-top: var(--spacer-50);
  }
  
  & .notes > :last-child {
    margin-bottom: 0;
  }
}
