.helper-info {
  pointer-events: none;
  display: inline-block;

  & .header {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    background-color: var(--grey);
    color: #fff;
    pointer-events: auto;
    position: relative;
    top: -1em;

    @nest .background--dark & {
      background-color: #fff;
      color: var(--grey);
    }
  }

  & .content {
    @mixin tip;
    padding: var(--spacer-15);
    text-align: left;
    margin-top: -0.2rem;
    margin-left: -0.5em;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 10;

    @media (--small-up) {
      left: auto;
    }

    & :last-child {
      margin-bottom: 0;
    }
  }

  @nest .js & {
    & .header {
      cursor: pointer;
    }
  }

  &.display {
    pointer-events: auto;

    & .header::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.6rem 0.6rem 0.6rem;
      border-color: transparent transparent color(var(--grey) tint(90%)) transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 0.2em;
      margin-left: -1em;
    }

    & .content {
      opacity: 1;
    }
  }
}
