.container {
  width: 100%;
  max-width: 1300px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.site-search {
  margin-bottom: 1rem;

  & .form-control {
    font-size: 1.5em;
    padding-right: 3.5rem;
  }

  & .field .btn-search {
    outline: none;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.8em;
    margin-top: -1rem;
    right: 0.8rem;
  }

  @media (--small-up) {
    margin-bottom: 2rem;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--header-height-small);

  &.logged-in {
    padding-top: calc(var(--header-height-small) + var(--user-bar-height));
  }

  @media (--medium-up) {
    padding-top: var(--header-height-medium);

    &.logged-in {
      padding-top: calc(var(--header-height-medium) + var(--user-bar-height));
    }
  }
  @media (--large-up) {
    padding-top: var(--header-height-large);

    &.logged-in {
      padding-top: calc(var(--header-height-large) + var(--user-bar-height));
    }
  }

  &.active-search {
    @media (--small-up) {
      height: 100vh;
      overflow: hidden;
    }
  }
}

[role="main"],
.homepage {
  flex-grow: 1;
}

[role=main] {
  padding-bottom: var(--spacer-75);

  & .wrapper {
    margin-left: 0;
    margin-right: 0;

    &::before {
      display: none;
    }
  }

  & .primary {
    padding-left: 0;
    padding-right: 0;

    @media (--small-up) {
      padding-left: var(--spacer-50);
    }

    & .module-content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & .secondary {
    font-size: 0.85em;
    margin-top: var(--spacer-50);
  }
}
