#libraryHelper .header {
  font-size: 0.60rem;
  line-height: 1.25em;
}

/* search results */
.results-controls {
  margin-top: var(--spacer-35);
  margin-bottom: var(--spacer-35);

  @media (--small-up) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em;
  }
}

.remove-all {
  font-size: var(--font-size-small);
  color: var(--grey);
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.number-of-results {
  display: flex;

  & .total {
    order: 3;
  }

  & a {
    font-weight: bold;
    border-right: solid 1px var(--grey);
    padding-right: 0.5em;

    &:last-child {
      border: none;
      padding-right: 0;
    }

    &.active {
      text-decoration: underline;
      color: var(--visited-link-colour);
    }
  }
}

.dataset-list {
  & .publisher {
    display: block;
    font-size: var(--font-size-small);
    color: var(--heading-link-colour);
  }

  & .dataset-notes {
    display: flex;
    width: 100%;
    margin-top: 0.5em;

    @media (--small-up) {
      font-size: var(--font-size-medium);
    }
  }

  & > li {
    border: none;
    padding-bottom: var(--spacer-25);
    margin-bottom: var(--spacer-25);

    & .image {
      display: none;
    }

    & .label {
      background-color: var(--grey);
      color: #fff;

      &.label-story,
      &.label-story:visited {
        background-color: var(--yellow);
        color: #333;
      }

      &.label-format {
        font-size: var(--font-size-xsmall);
        background-color: color(var(--body-colour) a(75%));
      }

      &:visited {
        color: #fff;
      }
    }

    @media (--medium-up) {
      display: flex;
      align-items: center;

      & .image {
        display: block;
        margin-right: var(--spacer-35);
        flex-grow: 0;

        & img {
          width: 120px;
          height: 120px;
          object-fit: cover;
          filter: grayscale(100%);
        }

        &:hover {
          & img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}

#pagination-top {
  & .pagination-wrapper {
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: -30px;
  }
}


.pagination-wrapper {
  border-top: none;
  text-align: left;
}

.pagination {
  margin-bottom: 0;

  & > li {

    font-size: 0.85em;
    font-weight: bold;

    & > a,
    & > li > span {
      border: none;
      border-radius: var(--border-radius);
      background-color: color(var(--grey) tint(80%));
      margin-right: 0.3em;
      color: #333;
    }

    &:first-child,
    &:last-child,
    &.disabled  {
      & > a,
      & > li > span {
        background-color: transparent;
      }
    }

    &.active a {
      background-color: var(--blue);
    }
  }
}

.filters {
  margin-top: 0.2rem;
  margin-bottom: var(--spacer-35);
}

/* mobile filters */
@media (--small-only) {
  .js {

    & .show-filters.btn {
      display: block;
      text-align: left;
      margin-bottom: var(--spacer-50);
    }

    & body.filters-modal {
      & .secondary .filters {
        margin: 0;
        padding: 0 var(--spacer-50) 0 0;

        & > div {
          padding: var(--spacer-50);
          border-radius: 0;
          min-height: 100vh;

          & > :first-child {
            margin-top: calc(var(--header-height-small) + var(--search-height-small));
          }
        }

        & .hide-filters {
          top: 0;
          right: 0;
          bottom: 0;
          width: var(--spacer-50);
        }
      }

      & .logged-in .secondary .filters {
        & > div > :first-child {
          margin-top: calc(var(--header-height-small) + var(--user-bar-height) + var(--search-height-small));
        }
      }
    }
  }
}
