.nav > li > a:hover,
.nav > li > a:focus {
  background-color: var(--blue);
  color: var(--body-bg);
}

:target::before {
  content:"";
  display:block;
  height: calc(var(--header-height-small) + var(--search-height-small));
  margin-top: calc(0 - calc(var(--header-height-small) + var(--search-height-small)));

  @nest .logged-in & {
    height: calc(var(--header-height-small) + var(--user-bar-height) + var(--search-height-small));
    margin-top: calc(0 - calc(var(--header-height-small) + var(--user-bar-height) + var(--search-height-small)));
  }

  @media (--medium-up) {
    height: calc(var(--header-height-medium) + var(--search-height-medium));
    margin-top: calc(0 - calc(var(--header-height-medium) + var(--search-height-medium)));

    @nest .logged-in & {
      height: calc(var(--header-height-medium) + var(--user-bar-height) + var(--search-height-medium));
      margin-top: calc(0 - calc(var(--header-height-medium) + var(--user-bar-height) + var(--search-height-medium)));
    }
  }
  @media (--large-up) {
    height: calc(var(--header-height-medium) + var(--search-height-large));
    margin-top: calc(0 - calc(var(--header-height-medium) + var(--search-height-large)));

    @nest .logged-in & {
      height: calc(var(--header-height-medium) + var(--user-bar-height) + var(--search-height-large));
      margin-top: calc(0 - calc(var(--header-height-medium) + var(--user-bar-height) + var(--search-height-large)));
    }
  }
}


.aside-subnav-menu {
  & ul {
    list-style-type: none;
  }
  & li {
    margin: 1.25em 0;
    padding: 0.25em 0.5em;
    border-left: solid 0.3em white;
    &:first-child {
      margin-top: 0;
    }
    & a {
      color: var(--grey);
      text-transform: uppercase;
    }
  }
  & li.active {
    border-color: var(--yellow);
    & a {
      color: black;
      font-weight: bold;
    }
  }
}
