.story {
  & .feature-image {
    margin-bottom: 1em;

    @media (--small-up) {
      float: left;
      width: 50%;
      margin-right: var(--spacer-50);
    }

    @media (--medium-up) {
      width: 44%;
    }

    & img {
      width: 100%;
    }
  }
  & aside.secondary {
    padding-top: 1em;
  }

  & .ckanext-showcase-notes {
    & blockquote {
      padding: 0;
      border: none;
      @mixin pull-quote;

      &::before {
        content: '“ ';
      }

      &::after {
        content: ' ”';
      }

      & p {
        display: inline;
      }
    }
  }

}
