.story {
  & .feature-image {
    margin-bottom: 1em;

    @media (--small-up) {
      float: left;
      width: 50%;
      margin-right: var(--spacer-50);
    }

    @media (--medium-up) {
      width: 44%;
    }

    & img {
      width: 100%;
    }
  }

  & .ckanext-showcase-notes {
    & blockquote {
      padding: 0;
      border: none;
      @mixin pull-quote;

      &::before {
        content: '“ ';
      }

      &::after {
        content: ' ”';
      }

      & p {
        display: inline;
      }
    }

    & .lead {
      margin-top: 1em;
    }

    & .embed {
      max-width: 100%;
      overflow-x: auto;
    }
  }

  & .author {
    & .author-name {
      font-size: 1.5em;
    }
    & .author-title {
      font-style: italic;
    }
  }
}
