html {
  font-size: var(--font-size-small);

  @media (--medium-up) {
    font-size: var(--font-size-medium);
  }

  @media (--large-up) {
    font-size: 21px;
  }
}

h1, h2, h3, h4, h5, h6,
.dataset-heading {
  font-size: 1rem;
  color: var(--heading-colour);
  font-weight: 700;
  line-height: 1.2;

  & a {
    color: var(--heading-link-colour);
  }

  & .label {
    font-size: 0.5em;
  }

  & small {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  display: inline-block;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  border-bottom: solid 0.15em var(--yellow);

  & a:hover,
  & a:focus {
    text-decoration: none;
  }
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.45rem;
}

.dataset-heading {
  font-size: 1.45em;
  font-weight: 900;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.15rem;
}

/* Uppercase stuff */
.module-heading,
.pill,
.show-filters {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  border-radius: 0;
}
.label-default {
  background-color: var(--grey);
}
.label-story {
  background-color: var(--yellow);
}

/* subtle underline */
.module-heading {
  border-bottom: solid 1px var(--heading-colour);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

/* detail text */
.notes,
.additional-info,
figcaption,
.caption-header small,
.pagination {
  font-size: 16px;
}
