{% ckan_extends %}


{% block item %}
  <li class="{% if group.featured != "no" %}featured {% endif %}topic-item {{ group.name }}">
  {% block item_inner %}
    <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}">
      {% if group.featured != "no" %}
        {% block image %}
          {{ h.get_image_for_group(group.name) }}
        {% endblock %}
      {% endif %}

      <div class="text">
        {% block title %}
          {{ super() }}
        {% endblock %}

        {% block datasets %}
          {% set count = h.expand_topic_package_count(group) %}
          {% if count.dataset %}
            <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', count.dataset).format(num=count.dataset) }}</strong>
          {% else %}
            <span class="count">{{ _('0 Datasets') }}</span>
          {% endif %}
          {% if count.story %}
            <strong class="count">{{ ungettext('{num} Stories', '{num} Stories', count.story).format(num=count.story) }}</strong>
          {% else %}
            <span class="count">{{ _('0 Stories') }}</span>
          {% endif %}
        {% endblock %}
      </div>
    </a>
  {% endblock %}
  </li>
{% endblock %}

{% if position is divisibleby 3 %}{% endif %}
